{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="banner-1">
</section>

<section class="welcome py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">About <span>Us</span> </h2>
        <div class="row about-tp mt-md-5 pt-5">
            <div class="col-lg-6 welcome-left">
                <h4>Solusi University, located 50 kilometres west of Bulawayo, Zimbabwe, is a co-educational institution, which was founded in 1894 as one of the first of the hundreds of Seventh-day Adventist mission stations.
                     It was named after Chief Soluswe, near whose home the Mission was founded.</h4>
            </div>
            <div class="col-lg-6 welcome-right">
                <div class="welcome-right-top">
                    <img src="{% static 'images/solus.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="testimonials py-5">
        <div class="container py-md-4 mt-md-3"> 
            <h3 class="heading-agileinfo text-white">What Our <span>Customer Saying</span></h3>
        <div class="agile_testimonials_grids mt-md-5 pt-4">
            <ul id="flexiselDemo1">	
                <li>
                    <div class="agile_testimonials_grid">
                        <div class="agile_testimonials_grid1">
                            <div class="w3_agile_testimonials_grid_right test-tooltip1">
                                 <p>They produce professional and hands-on graduates</p>
                            </div>
                            <div class="w3_agile_testimonials_grid">
                                <div class="w3_agile_testimonials_grid_left">
                                    <img src="{% static 'images/phllip.png' %}" alt=" " class="img-fluid" />
                                </div>
                                <div class="tex-t">
                                    <h4>Phillip ndlovu</h4>
                                    <p class="text-white">PNA Public Accountants</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                  
                </li>
                <li>
                    <div class="agile_testimonials_grid">
                        <div class="agile_testimonials_grid1">
                            <div class="w3_agile_testimonials_grid_right test-tooltip1">
                                 <p>Well disciplined students</p>
                            </div>
                            <div class="w3_agile_testimonials_grid">
                                <div class="w3_agile_testimonials_grid_left">
                                    <img src="{% static 'images/sibanda.png' %}" alt=" " class="img-fluid" />
                                </div>
                                <div class="tex-t">
                                    <h4>Misheck Sibanda</h4>
                                    <p class="text-white">Former Perm Sec Higher Education</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="agile_testimonials_grid">
                        <div class="agile_testimonials_grid1">
                            <div class="w3_agile_testimonials_grid_right test-tooltip1">
                                 <p>All the graduates of solusi university that i have interacted with are already leaders or destined to be leaders</p>
                            </div>
                            <div class="w3_agile_testimonials_grid">
                                <div class="w3_agile_testimonials_grid_left">
                                    <img src="{% static 'images/ndlovu.png' %}" alt=" " class="img-fluid" />
                                </div>
                                <div class="tex-t">
                                    <h4>Mangaliso ndlovu</h4>
                                    <p class="text-white">Minister of Commerce</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="agile_testimonials_grid">
                        <div class="agile_testimonials_grid1">
                            <div class="w3_agile_testimonials_grid_right test-tooltip1">
                                 <p>Friendly and courteous Staff. Nice to deal with all of them</p>
                            </div>
                            <div class="w3_agile_testimonials_grid">
                                <div class="w3_agile_testimonials_grid_left">
                                    <img src="{% static 'images/bhebhe.png' %}" alt=" " class="img-fluid" />
                                </div>
                                <div class="tex-t">
                                    <h4>Fine Bhebhe</h4>
                                    <p class="text-white">Sakunda Holdings</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </li>	
            </ul>
        </div>
        </div>
        </section>

    <div class="container py-md-4 mt-md-3">
       
        <div class="row about-info-grids mt-md-5 pt-5">
            <div class="col-md-4 about-info about-info1">
                <i></i>
                <h4>STATUS</h4>
                <div class="h4-underline"></div>
                <p>
                    Private, coeducational, undergraduate and postgraduate institution affiliated with the Seventh-day Adventist church.</p>
            </div>
            <div class="col-md-4 about-info about-info2">
                <i></i>
                <h4>ACCREDITATION</h4>
                <div class="h4-underline"></div>
                <p>Government and Denominationally Accredited (<a href="https://www.zimche.ac.zw/" target="_blank">ZimCHE</a>, <a href="https://www.adventistaccreditingassociation.org/" target="_blank">AAA</a>), our programmes are Internationally recognized.</p>
            </div>
            <div class="col-md-4 about-info about-info3">
                <i></i>
                <h4>FOUNDED</h4>
                <div class="h4-underline"></div>
                <p>1894 as one of the first of hundreds of Seventh-day Adventist mission stations around the world.</p>
            </div>
        </div>
        <div class="bord"></div>
       
</div>
</section>

<section class="w3layouts_bottom">
<div class="container">
    <div class="row">
        <div class="col-lg-9 w3layouts_getin_info">
            <h3 style=" color:#cc3333; text-align: center; ">We Make the Best Institute</h3>
        </div>
  
    </div>
</div>
</section>

<section class="welcome py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">Interesting Facts <span> About Solusi</span> </h2>
        <div class="row about-tp mt-md-5 pt-5">
            <div class="col-lg-6 welcome-left">
               
                <h4>Since 1894, Solusi has affected many lives through its Spiritual, Social and Academic activities.</h4>
                <p style="color: #000;">
                    The University was named after Chief Soluswe, the leader whose lands Solusi is located on. Solusi belongs to the world’s second largest Christian school system and was the first Adventist mission station in Africa. Solusi got its charter as a university on its 100th year of existence. We currently offer 33 accredited undergraduate programmes and 6 postgraduate degrees. We are the first university to offer block release programmes in Zimbabwe, and our Accounting degree has ACCA exemptions.
<span><b>To read more visit: </b><a href="https://africansdahistory.org/wp-content/uploads/2018/04/The-Solusi-Story-by-Virgil-Robinson.pdf" target="_blank" style="color: red; font-weight:bold;">Solusi Story</a></span>
                </p>
            </div>
            <div class="col-lg-6 welcome-right">
                <div class="welcome-right-top">
                    <img src="{% static 'images/Solusi1905.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}