{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="banner-1">
</section>

<section class="welcome py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">Admin<span>istrators</span> </h2>
        <div class="row about-tp mt-md-5 pt-5">
			<div class="col-lg-6 welcome-left">
				<h4 style="font-size:large; font-weight: bold;">Vice <span style="color: red; font-size:large;">Chancellor </span>(Acting)</h5>
                <h4><span style="font-weight: bolder; color: black;">Prof. Barnold Baidya, PhD </span>Solusi University, located 50 kilometres west of Bulawayo, Zimbabwe, is a co-educational institution, which was founded in 1894 as one of the first of the hundreds of Seventh-day Adventist mission stations.
                     It was named after Chief Soluswe, near whose home the Mission was founded.</h4>
            </div>
            <div class="col-lg-6 welcome-right">
                <div class="welcome-right-top" style="text-align: center;">
                    <img src="{% static 'images/dean baidya.PNG' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>

		<div class="row about-tp mt-md-5 pt-5">
			<div class="col-lg-6 welcome-left">
				<h4 style="font-size:large; font-weight: bold;">Pro-Vice <span style="color: #cc3333; font-size:large;">Chancellor </span>(Acting) <span style="font-weight: bolder; color: black;">  Bartholomew Mupeta, PhD </span></h4>
                
				<br>
				<h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span style="color: #cc3333;">P</span>ROFESSIONAL EXPERIENCE </h4><br>
                <p><span><strong>Dean </strong></span> Faculty of Agriculture & Extension, Solusi University. </p>
                <p><span><strong>Managing Director </strong></span> Jumbo Sustainable Development P/L. </p>
                <p><span><strong>Monitoring </strong></span> Evaluation & Research Manager, PLAN Zimbabwe. </p>
                <p><span><strong> Food </strong></span> Security and Poverty Alleviation Advisor/Household & Economic Security Advisor. PLAN Zimbabwe.</p>
                <p><span><strong>Director </strong></span>  of Institute – Henderson Research Institute.</p>

                <p><span><strong>Principal </strong></span> Research Officer. Department of Research & Specialist Services. </p>
                <p><span><strong>Principal  </strong></span> Technical Specialist. Department of Agriculture-Technical & Extension Service. </p>
                <p><span><strong>Regional  </strong></span> Agriculture Officer. Department of Agriculture- Technical & Extension Services. </p>
                <p><span><strong>Part-time  </strong></span> Tutor– National University of Science and Technology (NUST).</p>
                <p><span><strong>Part-time </strong></span>  Tutor – University of Zimbabwe / Zimbabwe Open University. </p>
                <p><span><strong>Full-Time </strong></span>  Professor, Solusi University, P.O. Solusi, Zimbabwe. </p>
                <p><span><strong>Graduate </strong></span>  Research Supervisor. </p>
                <p><span><strong>Coordinator </strong></span> HOD, Nutrition and Dietetics, BSc. Honours Programme. </p>
     
				<h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span style="color: #cc3333;">P</span>ROFESSIONAL QUALIFICATIONS </h5><br>
            <span class="w3-line black"></span>	
            <div class="">
        <div class="">
           <p><span><strong>1. </strong></span> Strategic Planning and Management.</p>
        </div>
        <div class="">
            <p><span><strong>2. </strong></span> Development of M&E Systems.</p>
         </div>
         <div class="">
            <p><span><strong>3. </strong></span> Policy, Planning and Implementation.</p>
         </div>
         <div class="">
            <p> <span><strong>4. </strong></span> Sphere Humanitarian Charter and Minimum Standards.</p>
         </div>
         <div class="">
            <p> <span><strong>5. </strong></span> UNDDS.</p>
         </div>
         <div class="">
            <p><span><strong>6. </strong></span> Emergency Preparedness and Responses.</p>
         </div>
         <div class="">
            <p><span><strong>7. </strong></span> Community Managed Microfinance. </p>
         </div>
         <div class="">
            <p> <span><strong>8. </strong></span>  Market Development and Value Chain.</p>
         </div>
         <div class="">
            <p><span><strong>9. </strong></span> ISO-9001Quality Management Development and Implementation.</p>
         </div>
         <div class="">
            <p><span><strong>10. </strong></span> Integrated Water Resources Management and Multiple Use of Water.</p>
         </div>
         <div class="">
            <p><span><strong>10. </strong></span>  Financial Management for Non-Financial Managers.</p>
         </div>
      
    </div>	
    <br>
    <br>
    <div>
        <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span style="color: #cc3333;">R</span>ESEARCH FELLOWSHIPS AND AWARDS</h5><br>
        <span class="w3-line black"></span>
        
        
        <div class="">
            <p><span><strong>1. </strong></span>  <span style="color: #527dbd ;">United Nations Environment Program </span>	Nobel Peace Prize award certificate.</p>
         </div>
         <div class="">
            <p><span><strong>2. </strong></span>  <span style="color: #527dbd ;">Siberia – Russia </span> Climate Change Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>3. </strong></span>  <span style="color: #527dbd ;">Wagengen- Netherlands </span>	Climate Change Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>4. </strong></span>  <span style="color: #527dbd ;">Brazil Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>5. </strong></span>  <span style="color: #527dbd ;">ILRI, Nairobi – Kenya </span> ILRI Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>6. </strong></span>  <span style="color: #527dbd ;">Research Centre- Foulum-Denmark  </span> DANIDA Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>7. </strong></span>  <span style="color: #527dbd ;">ILRI, Nairobi – Kenya </span>	ILRI Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>8. </strong></span>  <span style="color: #527dbd ;">Research Centre Foulum- Denmark  </span>	DANIDA Research Fellow.</p>
         </div>
        

	


    </div>
            </div>
            <div class="col-lg-6 welcome-right">
                <div class="welcome-right-top" style="text-align: center;">
                    <img src="{% static 'images/proVC.jpg' %}"  alt="" class="img-fluid">
                </div>
<br>
<br>
<br>
	<h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span style="color: #cc3333;">E</span>DUCATION</h5><br>


<table class="table table-hover">
    <thead">
      <tr>
        <th  style="font-size: smaller;">Institutional/Location</th>
        <th  style="font-size: smaller;">Degree</th>
        <th  style="font-size: smaller;">FIELD OF STUDY</th>
      </tr>
    </thead>
    <tbody style="font-size: x-small;">
      <tr>
        <td>University of Zimbabwe</td>
        <td>MSc</td>
        <td>Agriculture</td>
      </tr>
      <tr>
        <td>University of Zimbabwe</td>
        <td>BSc</td>
        <td>Agriculture</td>
      </tr>
      
      
    </tbody>
  </table>


  <div>
	<h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span style="color: #cc3333;">A</span>SSOCIATIONS AND MEMBERSHIP STATUS</h5><br>
	<span class="w3-line black"></span>
	
	
	<div class="">
		<p><span><strong>1. </strong></span>  <span style="color: #527dbd ;">Secretary/Treasurer</span> Grassland Society of Zimbabwe .</p>
	 </div>
	 <div class="">
		<p><span><strong>2. </strong></span>  <span style="color: #527dbd ;">Chairperson  </span>	Grassland Society of Zimbabwe 	.</p>
	 </div>
	 <div class="">
		<p><span><strong>3. </strong></span>  <span style="color: #527dbd ;">Member  </span>	Grassland Society of Zimbabwe.</p>
	 </div>
	 <div class="">
		<p><span><strong>4. </strong></span>  <span style="color: #527dbd ;">Member  </span>	Zimbabwe Society for Animal Production.</p>
	 </div>
	 <div class="">
		<p><span><strong>5. </strong></span>  <span style="color: #527dbd ;">Board Member  </span>	Mazowe Veterinary College.</p>
	 </div>
	 <div class="">
		<p><span><strong>6. </strong></span>  <span style="color: #527dbd ;">Board Member  </span>	DChaminuka Agric Institute.</p>
	 </div>
	 <div class="">
		<p><span><strong>7. </strong></span>  <span style="color: #527dbd ;">Board Member  </span>	Mazowe River Catchment.</p>
	 </div>
	 <div class="">
		<p><span><strong>8. </strong></span>  <span style="color: #527dbd ;">Board Member  </span>	Biotechnology Trust Zimbabwe.</p>
	 </div>
	 <div class="">
		<p><span><strong>9. </strong></span>  <span style="color: #527dbd ;">Country representative  </span>	South & East Africa Association of Farming Systems Research & Extension.</p>
	 </div>

	

</div>
  <br>
<div>
    <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span style="color: #cc3333;">P</span>UBLICATIONS</h5><br>
    <span class="w3-line black"></span>
    
    
    <div class="">
        <p><span><strong>1. </strong></span>   30 Publications and Manuscripts.</p>
     </div>
     
   
</div>
            </div>
        </div>

		<div class="row about-tp mt-md-5 pt-5">
			<div class="col-lg-8 welcome-left">
				<h4 style="font-size:large; font-weight: bold;">Director for Financial  <span style="color: red; font-size:large;"> Administration   <span style="font-weight: bolder; color: black;">Homebound Mashoko, CPA(Z)</span></h5>
               
                <table class="table table-hover">
                    <thead">
                      <tr>
                        <th  style="font-size: smaller;">Institutional/Location</th>
                        <th  style="font-size: smaller;">Degree</th>
                        <th  style="font-size: smaller;">FIELD OF STUDY</th>
                      </tr>
                    </thead>
                    <tbody style="font-size: x-small;">
                      <tr>
                        <td>MSC</td>
                        <td>MCom</td>
                        <td>Accounting</td>
                      </tr>
                      <tr>
                        <td>SU</td>
                        <td>BBA </td>
                        <td>Accounting</td>
                      </tr>
                      <tr>
                        <td>(CPA) (Z)</td>
                        <td>Certified</td>
                        <td>Public Accountant</td>
                      </tr>
                      <tr>
                        <td style="font-size: 12px; color:#cc3333;">Over 10 years experience in turnarounds of faith based institutions
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-lg-4 welcome-right">
                <div class="welcome-right-top">
                    <img src="{% static 'cosmic/images/Aboutus/daf.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>


		<div class="row about-tp mt-md-5 pt-5">
            <div class="col-lg-8 welcome-left"> 
				<h4 style="font-size:large; font-weight: bold;">Director of  <span style="color: red; font-size:large;">Student Affairs   <span style="font-weight: bolder; color: black;">Herbert Ndlovu, PhD </span></h5>
					
					<h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span style="color: #cc3333;">E</span>DUCATION</h5><br>

					<h3>DMin, PhD</h3>
  <br>
					<p>
				  
					 <b style="color:#cc3333 ;">Ordained</b> Pastor and Marriage Officer of Seventh Day Church<br>
					 <b style="color:#cc3333 ;">District</b> Pastor and Youth Director of West Zimbabwe Conference<br>
					 <b style="color:#cc3333 ;">Joined</b> Solusi University as Senior Lecturer, rose to Chairperson of Faculty of Theology and Chaplaincy<br>
					 <b style="color:#cc3333 ;">Ellen</b> G White Study Centre Director<br>
					 <b style="color:#cc3333 ;">Acting</b> Chaplain<br>
					 <b style="color:#cc3333 ;">Member</b> of International Ministerial Association of Seventh Day Adventist Journal<br>
					 <b style="color:#cc3333 ;">Author</b> of two books - One Anotherness, 2014 & Let’s Go to Gethsemane, 2016.<br>
				  
					</p>
				</div>
            <div class="col-lg-4 welcome-right">
                <div class="welcome-right-top">
                    <img src="{% static 'cosmic/images/Aboutus/student.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>

		<div class="row about-tp mt-md-5 pt-5">
            <div class="col-lg-8 welcome-left">
				<h4 style="font-size:large; font-weight: bold;">Reg<span style="color: red; font-size:large;">istrar  <span style="font-weight: bolder; color: black;"> Tembekile  Musvosvi</span></h5>

				</div>
            <div class="col-lg-4 welcome-right">
                <div class="welcome-right-top">
                    <img src="{% static 'cosmic/images/Aboutus/reg.jpeg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>






    </div>
</section>


	

{% endblock %}