<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Solusi University</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Opsimathy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <link href="{% static 'extra/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/bootstrap.css' %}">
	<!-- Bootstrap Core CSS -->
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- font-awesome icons -->
	<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- online fonts -->
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
</head>

<body>
	
	<!-- header -->
	<header>
	<div class="top">
			<div class="container">
				<div class="t-op row">
				<div class="col-sm-6 top-left">
					<ul>
						<li>
							<span style="text-align: left;"><a href="{% static 'images/Application.docx' %}"><button btn class="btn btn-light">Apply now</button></a> </span>
						</li>
						<li>&nbsp;We Serve</li>
						<li class="ml-3">
						<i class="far fa-envelope"></i> <a href="mailto:pr@solusi.ac.zw">Click here for enquiries</a>
					</li>
						</ul>
					</div>
					<div class="col-sm-6 top-middle">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		<section class="container">
            <div class="col-lg-3 col-sm-6">
				<span><a href="{% url 'index' %}"><img  src="{% static 'images/logo.jpg' %}" width="300" height="130" alt="" class="center"></a></span>

            </div>
           <!-- <div class="col-lg-3 col-sm-6 ">
                <article>
                    <marquee behavior="scroll" direction="left">To Attain Excellence in All Aspects of University Life.</marquee>
                    <marquee behavior="scroll" direction="right">Your scrolling text goes  </marquee>
                    </article>
            </div>-->
            <div class="col-lg-3 col-sm-6 ">
				<!--<img  src="{% static 'images/Solusi.png' %}" width="130" height="130" alt="" class="center">
-->
            </div>

			<div class="col-lg-3 col-sm-6 ">
				<!--<img  src="{% static 'images/Solusi.png' %}" width="130" height="130" alt="" class="center">
-->
            </div>

            <div class="col-lg-3 col-sm-6 ">
                
				<img  src="{% static 'images/AAA.png' %}" width="160" height="130" alt="" class="center">

            </div>
		</section>
		


		<!--<section class="container">
            <div class="col-lg-3 col-sm-6">
                <img  src="{% static 'images/Solusi.png' %}" width="90" height="80" alt="" class="center">

            </div>
            <div class="col-lg-3 col-sm-6 ">
                <article>
                    <marquee behavior="scroll" direction="left">To Attain Excellence in All Aspects of University Life.</marquee>
                    <marquee behavior="scroll" direction="right">Your scrolling text goes  </marquee>
                    </article>
            </div>
            <div class="col-lg-6 col-sm-6 ">
                <article>
                   <marquee behavior="scroll" direction="left" style="color:#cc3300 ;">To Attain Excellence in All Aspects of University Life.</marquee>
                  <marquee behavior="scroll" direction="right">Your scrolling text goes  </marquee>
                    </article>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <article>
				<p><img  src="{% static 'images/AAA.png' %}" width="100" height="60" alt="" style="position: absolute;
					top: 0px;
					right: 0px;">
                    </p>                  
				</article>
            </div>
		</section>

			
			
			<div class="container">
			<nav class="navbar   navbar-expand-lg navbar-light ">
			<h1>
			<img src="{% static 'images/right1.png' %}" width="50" height="40" alt="" class="img-section4 img-fluid">
			<a class="navbar-brand text-capitalize" href="index.html">
			</a>
			</h1>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			   aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav  text-center first-fixed-top ml-lg-auto">
				<li class="nav-item mr-3 active">
					<a class="nav-link " href="{% url 'index' %}">Home
					<span class="sr-only scroll">(current)</span>
				</a>
				</li>
				<li class="nav-item  mr-3">
				<a class="nav-link " href="{% url 'about' %}">About</a>
				</li>
				<li class="nav-item dropdown mr-3">
				<a class="nav-link third dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				   aria-expanded="false">
				Administrators
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{% url 'vice' %}">Vice Chancellor</a>
				<a class="dropdown-item" href="{% url 'provice' %}">Pro Vice Chancellor</a>
				<a class="dropdown-item" href="{% url 'daf' %}">Director of Financial Administration</a>
				<a class="dropdown-item" href="{% url 'studentaff' %}">Director of Student Affairs</a>
				<a class="dropdown-item" href="{% url 'register' %}">Registrar</a>
				</div>
				</li>
				<li class="nav-item dropdown mr-3">
				<a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				   aria-expanded="false">
				Faculties
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{% url 'agric' %}">Agriculture, Science & Technology</a>
				<a class="dropdown-item" href="{% url 'commerce' %}">Commerce</a>
				<a class="dropdown-item" href="{% url 'education' %}">Education & Humanities</a>
				<a class="dropdown-item" href="{% url 'health' %}">Health Professions</a>
				<a class="dropdown-item" href="{% url 'theology' %}">Theology & Chaplaincy</a>
				<a class="dropdown-item" href="{% url 'graduation' %}">Graduate Studies & Research Development</a>
				</div>
				</li>
				<li class="nav-item dropdown mr-3">
				<a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				   aria-expanded="false">
				Online Services
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="https://sis.solusi.ac.zw/" target="_blank" >Online Registration</a>
				<a class="dropdown-item" href="https://www.topup.co.zw/pay-bill/solusi-university" target="_blank">Online Fees Payment</a>
				<a class="dropdown-item" href="https://www.paynow.co.zw/Payment/BillPaymentLink/?q=aWQ9MjM1NCZhbW91bnQ9MC4wMCZhbW91bnRfcXVhbnRpdHk9MC4wMCZmMT0mbD0w" target="_blank">Other Fees Payment</a>
				<a class="dropdown-item" href="https://moodle.solusi.ac.zw/" target="_blank">Elearning</a>
				<a class="dropdown-item" href="https://sis.solusi.ac.zw/" target="_blank">Edurole</a>
				<a class="dropdown-item" href="https://www.solusi.ac.zw/the-orb/" target="_blank">The Orb</a>
				<a class="dropdown-item" href="https://mail.google.com/mail/u/0/" target="_blank">Email</a>
				<a class="dropdown-item" href="https://www.solusi.ac.zw/student-handbook/" target="_blank">Student Handbook</a>
				<a class="dropdown-item" href="https://www.solusi.ac.zw/university-events/" target="_blank">University Events</a>
				</div>
				</li>
			
				<li class="nav-item dropdown mr-3">
					<a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
					   aria-expanded="false">
					   Library
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="http://scholar.solusi.ac.zw/" target="_blank">Institutional Repository</a>
						<a class="dropdown-item" href="{% url 'studentlib' %}">e-Resources</a>
						<a class="dropdown-item" href="https://koha.baobab-ebooks.com//" target="_blank">e-Library</a>
						<a class="dropdown-item" href="http://lib.solusi.ac.zw/" target="_blank">Physical Library</a>
						<a class="dropdown-item" href="https://www.ellengwhitetruth.com/free-resources/egw-books" target="_blank">E.G.White Resources</a>
						<a class="dropdown-item" href="{% url 'library' %}">Faculty Resources</a>

					</div>
					</li>

				<li class="nav-item ">
				<a class="nav-link " href="{% url 'contact' %}">contact</a>
				</li>
				<li class="nav-item  mr-3">
				<a class="nav-link " href="{% url 'alumini' %}">Alumini</a>
				</li>
				</ul>
				</div>
			</nav>
			</div>-->

			<section class="content">
				<nav class="nav-area">
					<ul>
					  <li>
						<a href="{% url 'alumini' %}">Alumini</a>
					  </li>
					  <li>
						<a href="https://solusi-varsity.blogspot.com/" target="_blank">Blog</a>
					  </li>

					  <li>
						<a href="{% url 'contact' %}">contact</a>
					  </li>
					
			  
					  <li>
						<a href="#">Library</a>
						<ul>
						  <li>
							<a href="http://scholar.solusi.ac.zw/" target="_blank">Institutional Repository</a>
						  </li>
						  <li>
							<a href="{% url 'studentlib' %}">e-Resources</a>
						  </li>
						  <li>
							<a href="https://koha.baobab-ebooks.com//" target="_blank">e-Library</a>
						  </li>
						  <li>
							<a href="http://lib.solusi.ac.zw/" target="_blank">OPAC</a>
							
						  </li>
						  <li>
							<a href="https://www.ellengwhitetruth.com/free-resources/egw-books" target="_blank">E.G.White Resources</a>
						  </li>
						</ul>
					  </li>
			  
					  <li>
						<a href="#">Online Services</a>
						<ul>
						  <li>
							<a href="https://sis.solusi.ac.zw/" target="_blank" >Online Registration</a>
						  </li>
						  <li>
							<a href="https://www.topup.co.zw/pay-bill/solusi-university" target="_blank">Online Fees Payment</a>
						  </li>
						  <li>
							<a href="https://www.paynow.co.zw/Payment/BillPaymentLink/?q=aWQ9MjM1NCZhbW91bnQ9MC4wMCZhbW91bnRfcXVhbnRpdHk9MC4wMCZmMT0mbD0w" target="_blank">Other Fees Payment</a>
						  </li>
						  <li>
							<a href="https://moodle.solusi.ac.zw/" target="_blank">Elearning</a>
							
						  </li>
						  <li>
							<a href="https://sis.solusi.ac.zw/" target="_blank">Edurole</a>
						  </li>


						  <li>
							<a href="https://www.solusi.ac.zw/the-orb/" target="_blank">The Orb</a>
						  </li>


						  <li>
							<a href="https://mail.google.com/mail/u/0/" target="_blank">Email</a>
						  </li>

						  <li>
							<a href="https://www.solusi.ac.zw/student-handbook/" target="_blank">Student Handbook</a>
						  </li>

						  <li>
							<a href="https://www.solusi.ac.zw/university-events/" target="_blank">University Events</a>
						  </li>
						</ul>
					  </li>
						  <li>
						<a href="#">Faculties</a>
						<ul>
						  <li>
							<a href="{% url 'agric' %}">Agriculture, Science & Technology</a>
						  </li>
						  <li>
							<a href="{% url 'educat' %}">Education, Humanities</a>
						  </li>

						  <li>
							<a href="{% url 'healt' %}">Health Professions</a>
						  </li>
						  <li>
							<a href="{% url 'commerce' %}">Commerce</a>
						  </li>
						  <li>
							<a href="{% url 'theol' %}">Theology & Chaplaincy</a>
						  </li>
						  <li>
							<a href="{% url 'graduation' %}">Graduate Studies & Research Development</a>
						  </li>
						 
						</ul>
					  </li>
						   <li>
						<a href="#">Admission</a>
						<ul>
						 
						  <li>
							<a href="#">Under Graduate</a>
							<ul>
							 
							  <li>
								<a href="#">Agriculture, Science & Technology</a>
								<ul>
								  <li>
									<a href="{% url 'agribusiness' %}">Bachelor of Science Honours in Agribusiness Entrepreneurship & Management</a>
								  </li>
								  <li>
									<a href="{% url 'clothing' %}"> Bachelor of Science Honours in Clothing Fashion Desig</a>
								  </li>

								  <li>
									<a href="{% url 'science' %}">Bachelor of Science Honours in Environmental Science</a>
								  </li>
								  <li>
									<a href="{% url 'matnum' %}">Bachelor of Science Honours in Mathematics</a>
								  </li>
								  <li>
									<a href="{% url 'nutrition' %}">Bachelor of Science Honours in Nutrition Science</a>
								  </li>
								 
								  <li>
									<a href="{% url 'health' %}">Bachelor of Science Honours in Environmental Health</a>
								  </li>
								  <li>
									<a href="{% url 'nursing' %}">Bachelor of Science Honours in Nursing</a>
								  </li>
								 
								</ul>
							  </li>
							  

							  <li>
								<a href="#">Commerce</a>
								<ul>
								  <li>
									<a href="{% url 'inAccounts' %}">Bachelor of Commerce Honours in Accounting</a>
								  </li>
								 

								  <li>
									<a href="{% url 'infosys' %}">Bachelor of Science Honours in Information Systems</a>
								  </li>
								  <li>
									<a href="{% url 'infinance' %}">Bachelor of Commerce Honours in Finance</a>
								  </li>

								  <li>
									<a href="{% url 'inmarketing' %}">Bachelor of Commerce Honours in Marketing</a>
								  </li>
								  <li>
									<a href="{% url 'inmanagement' %}">Bachelor of Commerce Honours in Business Management</a>
								  </li>
								</ul>
							  </li>
							  
							  <li>
								<a href="#">Theology and Chaplaincy</a>
								<ul>
								  <li>
									<a href="{% url 'theology' %}">Bachelor of Arts Honours in Theology</a>
								  </li>
								 

								</ul>
							  </li>

							  <li>
								<a href="{% url 'education' %}">Education and Humanities</a>
								<!--<ul>
								  <li>
									<a href="#">Bachelor of Education Honours in Agriculture</a>
								  </li>
								 

								  <li>
									<a href="#">Bachelor of Science Education Honours in Biology</a>
								  </li>
								 
								  <li>
									<a href="#">Bachelor of Education Honours in Business Studies</a>
								  </li>

								  <li>
									<a href="#">Bachelor of Science Honours in Clothing Fashion Design</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Education Honours in English</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Science Education Honours in Mathematics</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Education Honours in Family & Religious Studies</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Education Honours in Early Childhood Development</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Arts with Education Honours in English</a>
								  </li>

								  <li>
									<a href="#">Bachelor of Arts with Education Honours in History</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Arts with Education Honours in Religious Studies</a>
								  </li>
								  <li>
									<a href="#">Diploma in Early Childhood Development</a>
								  </li>

								  <li>
									<a href="#">Bachelor of Arts Honours in English & Communication</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Arts Special Honours in Literature in English></a>
								  </li>
								  <li>
									<a href="#">Bachelor of Arts Honours in Peace & Security Studies</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Arts Honours in History</a>
								  </li>
								  <li>
									<a href="#">Bachelor of Arts Honours in Religious Studies</a>
								  </li>
								 
								</ul>-->
							  </li>
							</ul>
						  </li>
						 
						  <li>
							<a href="#">Post Graduate</a>
							<ul>
							 <li>
								<a href="{% url 'graduation' %}">MBA</a>
								
							  </li>
							  <li>
								<a href="{% url 'graduation' %}">MEd Educational Leadership</a>
								
							  </li>
							  <li>
								<a href="{% url 'graduation' %}">MSc Fashion Design</a>
								
							  </li>
							  <li>
								<a href="{% url 'graduation' %}">MSc Food Science and Nutrition</a>
								
							  </li>
							  <li>
								<a href="{% url 'graduation' %}">Master in Theology</a>
								
							  </li>
							</ul>
						  </li>
						</ul>
					  </li>
					  
					  <li>
						<a href="#">Our story</a>
						<ul>
						 
						  <li>
							<a href="{% url 'about' %}">About Us</a>
							
						  </li>
						 
						  <li>
							<a href="{% url 'admin' %}">Administrators</a>
						
						  </li>
						</ul>
					  </li>


					  <li>
						<a  href="{% url 'index' %}">Home</a>
					  </li>
					</ul>
				  </nav>
			</section>

	</header>


	{% block content %}

	{% endblock %}
	

	<!-- //more -->
<!--footer-->
<footer>
	<div class="container py-md-4 mt-md-3">
		<div class="row footer-top-w3layouts-agile py-5">
			<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
				<div class="footer-title">
					<h3><span>About </span>Us</h3>
				</div>
				<div class="footer-text">
					<p>
						Solusi University, located 50 kilometres west of Bulawayo, Zimbabwe, is a co-educational institution, which was founded in 1894 as one of the first of the hundreds of Seventh-day Adventist mission stations. It was named after Chief Soluswe, near whose home the Mission was founded.</p>

				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
				<div class="footer-title">
					<h3><span>Our </span>Library</h3>
				</div>
				<ul class="footer_grid_list">
				<li><i class="fa fa-arrow-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Ralph Watts Library</a>
				</li>
			
			</ul>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
				<div class="footer-title">
					<h3><span>Our </span>contact Infor</h3>
				</div>
				<ul class="contact-form">
					<li><i class="fa fa-map-marker"></i>
					  <h6><strong>Address:</strong> Solusi University, P.O. Solusi, Bulawayo </h6>
					</li>
					<li><i class="fa fa-envelope"></i>
					  <h6><strong>Mail Us:</strong> <a href="#">records@solusi.ac.zw</a></h6>
					</li>
					<li><i class="fa fa-phone"></i>
					  <h6><strong>Phone:</strong> +263 292 887457 </h6>
					</li>
					<li><i class="fa fa-wechat"></i>
					  <h6><strong>Website:</strong> <a href="#"> www.solusi.ac.zw
				  </ul>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
				<div class="footer-title">
					<h3><span>Quick </span>Links</h3>
				</div>
				<nav class="border-line">
					<ul class="nav flex-column">
					   <li>
						  <a href="{% url 'index' %}">Home </a>
					   </li>
					   <li>
						  <a href="{% url 'about' %}">About</a>
					   </li>
					
					   <li>
						  <a href="{% url 'alumini' %}">Alumini</a>
					   </li>
					   <li>
						  <a href="{% url 'contact' %}">Contact</a>
					   </li>
					</ul>
				 </nav>

			</div>
			
		</div>
	</div>
</footer>
	<!-- //footer-->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Ralph Watts Library</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			   <div class="agileits-w3layouts-info">
				  <img src="{% static 'images/g6.jpg' %}" class="img-fluid" alt="" />
				  <p>
					  
	  The Solusi University—Ralph Watts Library has a primary responsibility to support
	  Instructional, research and spiritual programs of the University—through the acquisition,
	  organization, maintenance, and preservation/conservation of appropriate print and non-print
	  electronic and archival information resources and the retrieval/dissemination of the resources.
	   </p>
			  </div>
		  </div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>
<!-- //Modal -->
<!-- js-->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- js-->
<!-- clients -->
	<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 2,
							animationSpeed: 1000,
							autoPlay:false,
							autoPlaySpeed: 2500,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems:1
								},
								tablet: { 
									changePoint:768,
									visibleItems: 1
								}
							}
						});
						
					});
			</script>
			<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
	<!-- //clients -->
<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
	
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.js' %}">
	</script>
	<!-- //Bootstrap Core JavaScript -->
</body>
</html>