{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="banner-1">
</section>



  <section class="about-w3ls py-5">
    <div class="container pt-xl-5 pb-lg-3">
			<h2 class="heading-agileinfo">Programme<span> Requirements</span></h2>
      <div class="row mt-md-5 pt-4">
        <div class="col-lg-6 ">
          <div class="agil_mor">
            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Entry Requirements:</span><br>
              <br>
              <span style="color: #000;">Normal Entry:</span> wAt least 2 Advanced Level passes. At least 5 “O” level passes including English Language or assessed equivalent. 
              <br>
              <span style="color: #000;">Special Entry:</span> NC, ND, HND in relevant field subject to Faculty assessment

              <br>
              <span style="color: #000;">Mature Entry:</span>  Five “O” levels plus at least 25 years of age and 5 years of experience in the relevant field
<br>
<a href="{% static 'images/Application.docx' %}"><button btn class="btn btn-secondary" style="background-color: #cc3333;"><span style="color: black;">Apply now</span></button></a>

            </p> </div>
     
            

          </div>
        </div>
       
<br>

        <div class="col-lg-6 ">
          <div class="agil_mor">
            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: center; text-justify: inter-word;"><span style="color: #cc3333;">Career Opportunities:</span><br>
                <b>A graduate from this department may be employed as:
                </b><br>
                Pastor<br>
                Church Administrator<br>
                Counsellor<br>
                Departmental Director<br>
                Chaplain<br>
            
            </p> </div>
     
            

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}



 

 
 