{% extends 'base2.html' %}

{% load static %}
{% block content %}
<section class="banner-1">
</section>




  <section class="welcome py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">Director for Financial  <span>Administration</span> </h2>
     
        <div class="row about-tp mt-md-5 pt-5">
            <div class="col-md-6">
                <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>E</span>DUCATION</h5><br>
<br>
                <table class="table table-hover">
                    <thead">
                      <tr>
                        <th  style="font-size: smaller;">Institutional/Location</th>
                        <th  style="font-size: smaller;">Degree</th>
                        <th  style="font-size: smaller;">FIELD OF STUDY</th>
                      </tr>
                    </thead>
                    <tbody style="font-size: x-small;">
                      <tr>
                        <td>MSC</td>
                        <td>MCom</td>
                        <td>Accounting</td>
                      </tr>
                      <tr>
                        <td>SU</td>
                        <td>BBA </td>
                        <td>Accounting</td>
                      </tr>
                      <tr>
                        <td>(CPA) (Z)</td>
                        <td>Certified</td>
                        <td>Public Accountant</td>
                      </tr>
                      <tr>
                        <td style="font-size: 12px; color:#cc3333;">Over 10 years experience in turnarounds of faith based institutions
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
     <div class="col-lg-6 ab-sec">

               <h5 style="text-align: center;"><span><strong>Homebound</strong></span>  Mashoko, CPA(Z) <h/5>
                <br>
                <br>
                <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="{% static 'cosmic/images/Aboutus/daf.jpg' %}" width="400" height="400" alt=""> </div>
            
           </div>

        </div>
    </div>

   
</section>


{% endblock %}