{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="banner-1">
</section>




    <section class="about-w3ls py-5">
			<div class="container pt-xl-5 pb-lg-3">
        <h2 class="heading-agileinfo">Programme<span> Requirements</span></h2>
			  <div class="row mt-md-5 pt-4">
				<div class="col-lg-10 ">
				  <div class="agil_mor">
					<div class="agileits-abt-grids ">
						<button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333" onclick="ReadMoreLess()">
							<i id="iMoreLess" class="fa fa-chevron-circle-right"></i>
							&nbsp;&nbsp;<span id="lblText">Religious Studies </span>
						</button>
						<p style="padding: 10px !important;">
							<b>Normal Entry:</b> Five “O” level passes including English  or equivalent, and at least 2 “A” Level passes including Religious Studies<span id="dots">...</span>
						</p>
						<p id="more" style="padding: 10px !important; display: none;"><span style="font-size: small; color: #000;">
							<b>Special Entry:</b> National Certificate (NC), National Diploma (ND), Higher National Diploma (HND) in relevant field.<br>
						<b>Mature Entry:</b> Five “O” level passes in English. Applicant should be 25 yers of age and 5 years relevant work experience.<br>
				
						</span>
						</p>
				</div>
			 
				<div class="agileits-abt-grids ">
					<button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333" onclick="Read()">
						<i id="iMore" class="fa fa-chevron-circle-right"></i>
						&nbsp;&nbsp;<span id="lblTexte">Peace and Security Studies</span>
					</button>
					<p style="padding: 10px !important;">
						<b>Normal Entry:</b> Five ‘O’ Level including English and two ‘A’ Level passes <span id="dot">...</span>
					</p>
					<p id="mor" style="padding: 10px !important; display: none;"><span style="font-size: small; color: #000;">
						<b>Special Entry:</b> National Certificate (NC), National Diploma (ND), Higher National Diploma (HND) from a recognized institution. <br>
					<b>Mature Entry:</b> Five ‘O’ level passes including English language. Candidates must be at least 25 years old and at least 5 years of experience in the area of Peace.<br>
			</span>
					</p>
			</div>
		
		
      <div class="agileits-abt-grids ">
        <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333">
          <i  class="fa fa-chevron-circle-right"></i>
          &nbsp;&nbsp;<span>Education (BEd)</span>
        </button>
        
        <p>Diploma/Certificate in Education or equivalent from an accredited and recognized institution.</p>
      </div>

      <div class="agileits-abt-grids ">
        <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333">
          <i  class="fa fa-chevron-circle-right"></i>
          &nbsp;&nbsp;<span>ECE Pre-service</span>
        </button>
        
        <p>At least two passes at ‘ A’ Level and 5 “O” level passes including English, mathematics and Science.</p>
      </div>


      <div class="agileits-abt-grids ">
        <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333">
          <i  class="fa fa-chevron-circle-right"></i>
          &nbsp;&nbsp;<span>ECE In-service</span>
        </button>
        
        <p>A diploma / certificate in Education from accredited and recognised institution or equivalent.</p>
      </div>

      <div class="agileits-abt-grids ">
        <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333">
          <i  class="fa fa-chevron-circle-right"></i>
          &nbsp;&nbsp;<span>ECE Diploma </span>
        </button>
        
        <p>A minimum of five ‘O’ level passes including English, and Mathematics or equivalent:  Science is an added advantage.</p>
      </div>

      <div class="agileits-abt-grids ">
        <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333">
          <i  class="fa fa-chevron-circle-right"></i>
          &nbsp;&nbsp;<span>English and Communication </span>
        </button>
        
        <p>Five (5) ‘O’ Level passes or assessed equivalent including English Language, and at least two ‘A’ Level passes including Literature in English or equivalent.</p>
      </div>

      <div class="agileits-abt-grids ">
        <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333">
          <i  class="fa fa-chevron-circle-right"></i>
          &nbsp;&nbsp;<span>Special Honours in English Literature </span>
        </button>
        
        <p>First degree in Literature in English.</p>
      </div>


      <div class="agileits-abt-grids ">
        <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333">
          <i  class="fa fa-chevron-circle-right"></i>
          &nbsp;&nbsp;<span>History</span>
        </button>
        
        <p>Five O level passes including English  or the assessed equivalent  and at least two A level passes including History.
			 
		</p>
   
	</div>
	<br>
	<a href="{% static 'images/Application.docx' %}"><button btn class="btn btn-secondary" style="background-color: #cc3333;"><span style="color: black;">Apply now</span></button></a>
   <br>
		  
   <br>
   
<div class="agileits-abt-grids ">
  <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333" onclick="science()">
    <i id="plus" class="fa fa-chevron-circle-right"></i>
    &nbsp;&nbsp;<span id="lblt">CAREER OPPORTUNITIES</span>
  </button>
  <p style="padding: 10px !important;">
    <b>A:</b> graduate from department may be employed in various departments such as:<span id="doty">...</span>
  </p>
  <p id="many" style="padding: 10px !important; display: none;"><span style="font-size: small; color: #000;">
    <b>1.</b> Teachers<br>
    <b>2.</b> Administrators<br>
    <b>3.</b> Researchers<br>
    <b>4.</b> Curriculum designer<br>
    <b>5.</b> Heads of Schools/Institutions<br>
    <b>6.</b> Subject Specialists<br>
    <b>7.</b> Consultants<br>
    <b>8.</b> Programme Evaluators<br>
    <b>9.</b> Political Analysts<br>
    <b>10.</b> Political Observers<br>
    <b>11.</b> Policy Analysts<br>
    <b>12.</b> Program officers<br>
    <b>13.</b> Researchers<br>
    <b>14.</b> Pastors<br>
    <b>15.</b> Ministers of Religion<br>
    <b>16.</b> Chaplains

</span></p>
</div>
				  </div>
				</div>
			   
			  </div>
			</div>
		  </section>

		
		

		<style type="text/css">
			btn {
				background: none !important;
				border: none;
				padding: 10px !important;
			}

		

		</style>



		<script type="text/javascript">
			function ReadMoreLess() {
				var dots = document.getElementById("dots");
				var moreText = document.getElementById("more");
				var iMoreLess = document.getElementById("iMoreLess");
				var lblText = document.getElementById("lblText");
				if (dots.style.display === "none") {
					dots.style.display = "inline";
					iMoreLess.className = "fa fa-chevron-circle-right";
					lblText.innerHTML = "Agribusiness";
					moreText.style.display = "none";
				} else {
					dots.style.display = "none";
					iMoreLess.className = "fa fa-chevron-circle-down";
					lblText.innerHTML = "Read Less";
					moreText.style.display = "inline";
				}
			}

			function Read() {
				var dott = document.getElementById("dot");
				var moreTex = document.getElementById("mor");
				var iMoreLes = document.getElementById("iMore");
				var lblTex = document.getElementById("lblTexte");
				if (dott.style.display === "none") {
					dott.style.display = "inline";
					iMoreLes.className = "fa fa-chevron-circle-right";
					lblTex.innerHTML = "Clothing";
					moreTex.style.display = "none";
				} else {
					dott.style.display = "none";
					iMoreLes.className = "fa fa-chevron-circle-down";
					lblTex.innerHTML = "Read Less";
					moreTex.style.display = "inline";
				}
			}


			function Function() {
				var doti = document.getElementById("doties");
				var moreT = document.getElementById("moree");
				var iMoreL = document.getElementById("iMoo");
				var lblT = document.getElementById("lbl");
				if (doti.style.display === "none") {
					doti.style.display = "inline";
					iMoreL.className = "fa fa-chevron-circle-right";
					lblT.innerHTML = "Mathematics";
					moreT.style.display = "none";
				} else {
					doti.style.display = "none";
					iMoreL.className = "fa fa-chevron-circle-down";
					lblT.innerHTML = "Read Less";
					moreT.style.display = "inline";
				}
			}


			function mat() {
				var sport = document.getElementById("dotie");
				var morez = document.getElementById("mores");
				var iles = document.getElementById("iless");
				var lblxt = document.getElementById("lblext");
				if (sport.style.display === "none") {
					sport.style.display = "inline";
					iles.className = "fa fa-chevron-circle-right";
					lblxt.innerHTML = "Nutrition";
					morez.style.display = "none";
				} else {
					sport.style.display = "none";
					iles.className = "fa fa-chevron-circle-down";
					lblxt.innerHTML = "Read Less";
					morez.style.display = "inline";
				}
			}

			function science() {
				var spot = document.getElementById("doty");
				var moerwords = document.getElementById("many");
				var lesswords = document.getElementById("plus");
				var lblword = document.getElementById("lblt");
				if (spot.style.display === "none") {
					spot.style.display = "inline";
					lesswords.className = "fa fa-chevron-circle-right";
					lblword.innerHTML = "CAREER OPPORTUNITIES";
					moerwords.style.display = "none";
				} else {
					spot.style.display = "none";
					lesswords.className = "fa fa-chevron-circle-down";
					lblword.innerHTML = "Read Less";
					moerwords.style.display = "inline";
				}
			}

		</script>
{% endblock %}

