{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="banner-1">
</section>




  <section class="about-w3ls py-5">
    <div class="container pt-xl-5 pb-lg-3">
			<h2 class="heading-agileinfo">Programme<span> Requirements</span></h2>
      <div class="row mt-md-5 pt-4">
        <div class="col-lg-8 ">
          <div class="agil_mor">
            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">MBA:</span><br>
              <br>
              <span style="color: #000;">A bachelor’s degree in Business Administration</span> with a cumulative GPA of 2.50, or upper second class or better from a recognised university; or a recognized professional qualification deemed to be equivalent of a degree
              <br>
              <span style="color: #000;">A  bachelor’s  degree  of  any  faculty</span>  from  a  recognized  university,  with  a cumulative GPA of 2.50 or upper second class or better (Applicants with a degree other than in business administration may be admitted with a requirement to do relevant bridging courses.)
              <br>
              <span style="color: #000;">A  Post  Graduate  Diploma  in  Business  Administration  (PGDBA)</span>  from  any recognised university, with a cumulative GPA of 2.50 or higher.

            </p> </div>
     
            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;"> PGDE:</span><br>
              <br>
              <span style="color: #000;">A recognized</span> undergraduate degree.
            </p></div>

            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">MEd:</span><br>
              <br>
              <span style="color: #000;">BEd or a recognised Bachelor</span> with Education degree with a GPA of 2.75/first or upper second-class OR Post Graduate Diploma in Education.
            </p></div>


            <div class="agileits-abt-grids ">
              <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">MSc:</span><br>
              <br>
              <span style="color: #000;">Bachelor’s degree</span>in a relevant field.
            </p></div>

            <br>
            <a href="{% static 'images/Application.docx' %}"><button btn class="btn btn-secondary" style="background-color: #cc3333;"><span style="color: black;">Apply now</span></button></a>
            
      
            
            <br>

          </div>
        </div>
       
      </div>
    </div>
  </section>
{% endblock %}

