{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="banner-1">
</section>

<section class="about-w3ls py-5">
    <div class="container pt-xl-5 pb-lg-3">
    <h2 class="heading-agileinfo">Faculty of <span> Health Professions</span></h2>
      <div class="row mt-md-5 pt-4">
        <div class="col-lg-6 section-4">
          <div class="agil_mor">
            <div class="agileits-abt-grids mb-4">
              
              <p class="sec-4"><span style="color: #cc3333;">PHILOSOPHY </span>
                The philosophy of the Faculty of Health Professions is based on Jesus’ mandate. Jesus was and is the greatest healer of the mind, soul, and body. Thus, as His followers we are commissioned to continue His healing ministry till He returns. The healing ministry is continued through education, service, and knowledge discovery.  Students in this Faculty will be educated and trained to prevent, identify, and treat health related human problems and evaluate health risks in the environment.  Students will also be proficient in providing hope, spiritual comfort, and teaching of biblical principles of healthy living.
              </p>
            </div>
          
            <div class="agileits-abt-grids mb-4">
              
              <p class="sec-4"><span style="color: #cc3333;">MISSION STATEMENT</span>
                The mission of the Faculty of Health Professions is in line with the University’s mission and the tenets of the Seventh-Day Adventist Church. The mission of the faculty is to prepare health professionals whose values are Christ-centered, and are competent in health-care delivery, research, and teaching of health principles.
      </p>
            </div>
            <div class="agileits-abt-grids mb-4">
              
              <p class="sec-4"><span style="color: #cc3333;">DEPARTMENTS AND DEGREES </span><br>
               <b> A. Department of Environmental Health and Dietetics</b><br>
                • Bachelor of Science Honours in Environmental Health <br>                                                                                                                                                                                                     • Bachelor of Science Honours in Dietetics
                
               <b> B. Department of Nursing</b><br>
                • Bachelor of Science Honours in Nursing	
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h5 style="text-align: center;">Dean</h5>
  <br><div style="text-align: center;">
          <img src="{% static 'images/dean gwebu.PNG' %}" alt="" class="img-section4 img-fluid">
		</div>
		  <br>
        <br>
          <h5 style="text-align: center;">Prof. Keratiloe Gwebu, DNP</h5>

          <br>

					<p>
						<span ><strong>Prof. Keratiloe Gwebu, DNP</strong></span>Chair person in Environmental Health, Nutrition & Dietetics <br>
						<span><strong>Precious Dube, MSc</strong></span>Chair person in Nursing <br>
						<span><strong>Siphiwe Makamure,  MPhil</strong></span>Environmental Health<br>
					 </p>
        </div>
      </div>
    </div>
  </section>

  <section class="health">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 w3layouts_getin_info">
                <h3>We Make the Best Institute</h3>
            </div>
      
        </div>
    </div>
    </section>




    <section class="about-w3ls py-5">
			<div class="container pt-xl-5 pb-lg-3">
				<h2 class="heading-agileinfo">Programme<span> Requirements</span></h2>
				<div class="row mt-md-5 pt-4">
				<div class="col-lg-8 ">
				  <div class="agil_mor">
					<div class="agileits-abt-grids ">
						<button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333" onclick="ReadMoreLess()">
							<i id="iMoreLess" class="fa fa-chevron-circle-right"></i>
							&nbsp;&nbsp;<span id="lblText">Nutrition & Dietetics</span>
						</button>
						<p style="padding: 10px !important;">
							<b>Normal Entry:</b> Five “O” level passes including English and Mathematics or equivalent, and two “A” level passes including Biology, Chemistry,  and/or Food Science<span id="dots">...</span>
						</p>
						<p id="more" style="padding: 10px !important; display: none;"><span style="font-size: small; color: #000;">Biology, Agriculture, Chemistry, Physics, Food Science, Geography, Accounts, Management or Business.<br>
							<b>Special Entry:</b> National Certificate (NC), National Diploma (ND), and Higher National Diploma (HND) in relevant field.<br>
						<b>Mature Entry:</b> At least 25 years of age and 5 years of experience in the relevant field. Five “O” level passes including English.<br>
				
						</span>
						<br>

						<button btn class="btn btn-secondary" style="background-color: #cc3333;"><span style="color: black;">Apply now</span></button>
		
						</p>
						
				</div>
<br>
				<div class="agileits-abt-grids ">
					<button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333" onclick="Read()">
						<i id="iMore" class="fa fa-chevron-circle-right"></i>
						&nbsp;&nbsp;<span id="lblTexte">Environmental Health</span>
					</button>
					<p style="padding: 10px !important;">
						<b>Normal Entry:</b> Five “O” level passes including English and Mathematics or equivalent, and two “A” level passes in Biology and any Science subject<span id="dot">...</span>
					</p>
					<p id="mor" style="padding: 10px !important; display: none;"><span style="font-size: small; color: #000;">
						<b>Special Entry:</b> National Certificate (NC), National Diploma (ND), and Higher National Diploma (HND) in relevant field.<br>
					<b>Mature Entry:</b> At least 25 years of age and relevant experience. The applicant may be subjected to an interview.<br>
			</span>
			<br>

                <button btn class="btn btn-secondary" style="background-color: #cc3333;"><span style="color: black;">Apply now</span></button>

			</p>
			</div>
			<br>
		<!--	<div class="agileits-abt-grids ">
				<button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333" onclick="Function()">
					<i id="iMoo" class="fa fa-chevron-circle-right"></i>
					&nbsp;&nbsp;<span id="lbl">For Nursing</span>
				</button>
				<p style="padding: 10px !important;">
					<b>Normal Entry:</b> At least two Advanced Level passes including Mathematics or its recognized equivalent (Mechanics, Statistics, Pure Mathematics) plus at least five Ordinary Level passes/<span id="doties">...</span><br>
				</p>
				<p id="moree" style="padding: 10px !important; display: none;"><span style="font-size: small; color: #000;">National Foundation Certificates including Mathematics and English Language OR National Certificate.
					<b>Special Entry:</b> NNational Diploma and Higher National Diploma.<br>
				<b>Mature Entry:</b> At least 25 years plus work experience.<br>
		</span></p>
		</div>
		
		
		<div class="agileits-abt-grids ">
			<button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333" onclick="mat()">
				<i id="iless" class="fa fa-chevron-circle-right"></i>
				&nbsp;&nbsp;<span id="lblext">Nutrition</span>
			</button>
			<p style="padding: 10px !important;">
				<b>Normal Entry:</b> At least 2 Advanced Science Level passes which include Chemistry, Biology or Food Science. At least 5 passes at Ordinary Level inclusive of Mathematics and English. <span id="dotie">...</span>
			</p>
			<p id="mores" style="padding: 10px !important; display: none;"><span style="font-size: small; color: #000;">
				<b>Special Entry:</b> NC, ND, HND in relevant field. Five Ordinary level passes which include Mathematics and English Language.<br>
			<b>Mature Entry:</b> Twenty-five years of age and a minimum of 2 years of experience in a relevant field. Five Ordinary level passes which include Mathematics and English Language.<br>
	</span></p>
	</div>
		-->
	
<div class="agileits-abt-grids ">
  <button id="btnMoreLess" type="button" style="font-size: 24px; color: #cc3333" onclick="finance()">
    <i id="pluz" class="fa fa-chevron-circle-right"></i>
    &nbsp;&nbsp;<span id="lbltt">CAREER OPPORTUNITIES</span>
  </button>
  <p style="padding: 10px !important;">
    <b> A graduate from these programmes may be employed as:</b><span id="dotty">...</span>
  </p>
  <p id="man" style="padding: 10px !important; display: none;"><span style="font-size: small; color: #000;">
    Air Pollution Analyst.<br>
Disaster Management Specialist.<br>
Environmental Health Professional.<br>
Environmental Inspector.<br>
Environmental Sanitation Engineer.<br>
Environmental Toxicologist.<br>
Groundwater Protection Specialist<br>
Community education officer.<br>
Food technologist.<br>
Health promotion specialist.<br>
International aid/development worker.<br>
Medical sales representative.<br>
Nutritional therapist.<br>
Registered Nurse<br>
Tutor<br>
Clinical Instructor<br>
</span></p>
</div>
				  </div>
				</div>
			   
			  </div>
			</div>
		  </section>

		
		

		<style type="text/css">
			 btn {
				background: #cc3333;
				border: none;
				padding: 10px !important;
    }

		

		</style>



		<script type="text/javascript">
			function ReadMoreLess() {
				var dots = document.getElementById("dots");
				var moreText = document.getElementById("more");
				var iMoreLess = document.getElementById("iMoreLess");
				var lblText = document.getElementById("lblText");
				if (dots.style.display === "none") {
					dots.style.display = "inline";
					iMoreLess.className = "fa fa-chevron-circle-right";
					lblText.innerHTML = "Nutrition & Dietetics";
					moreText.style.display = "none";
				} else {
					dots.style.display = "none";
					iMoreLess.className = "fa fa-chevron-circle-down";
					lblText.innerHTML = "Read Less";
					moreText.style.display = "inline";
				}
			}

			function Read() {
				var dott = document.getElementById("dot");
				var moreTex = document.getElementById("mor");
				var iMoreLes = document.getElementById("iMore");
				var lblTex = document.getElementById("lblTexte");
				if (dott.style.display === "none") {
					dott.style.display = "inline";
					iMoreLes.className = "fa fa-chevron-circle-right";
					lblTex.innerHTML = "Environmental Health";
					moreTex.style.display = "none";
				} else {
					dott.style.display = "none";
					iMoreLes.className = "fa fa-chevron-circle-down";
					lblTex.innerHTML = "Read Less";
					moreTex.style.display = "inline";
				}
			}


			function Function() {
				var doti = document.getElementById("doties");
				var moreT = document.getElementById("moree");
				var iMoreL = document.getElementById("iMoo");
				var lblT = document.getElementById("lbl");
				if (doti.style.display === "none") {
					doti.style.display = "inline";
					iMoreL.className = "fa fa-chevron-circle-right";
					lblT.innerHTML = "For Nursing";
					moreT.style.display = "none";
				} else {
					doti.style.display = "none";
					iMoreL.className = "fa fa-chevron-circle-down";
					lblT.innerHTML = "Read Less";
					moreT.style.display = "inline";
				}
			}


			function mat() {
				var sport = document.getElementById("dotie");
				var morez = document.getElementById("mores");
				var iles = document.getElementById("iless");
				var lblxt = document.getElementById("lblext");
				if (sport.style.display === "none") {
					sport.style.display = "inline";
					iles.className = "fa fa-chevron-circle-right";
					lblxt.innerHTML = "Nutrition";
					morez.style.display = "none";
				} else {
					sport.style.display = "none";
					iles.className = "fa fa-chevron-circle-down";
					lblxt.innerHTML = "Read Less";
					morez.style.display = "inline";
				}
			}

			function science() {
				var spot = document.getElementById("doty");
				var moerwords = document.getElementById("many");
				var lesswords = document.getElementById("plus");
				var lblword = document.getElementById("lblt");
				if (spot.style.display === "none") {
					spot.style.display = "inline";
					lesswords.className = "fa fa-chevron-circle-right";
					lblword.innerHTML = "Environmental Science";
					moerwords.style.display = "none";
				} else {
					spot.style.display = "none";
					lesswords.className = "fa fa-chevron-circle-down";
					lblword.innerHTML = "Read Less";
					moerwords.style.display = "inline";
				}
			}

      function finance() {
      var spots = document.getElementById("dotty");
      var moerword = document.getElementById("man");
      var lessword = document.getElementById("pluz");
      var lblwords = document.getElementById("lbltt");
      if (spots.style.display === "none") {
        spots.style.display = "inline";
        lessword.className = "fa fa-chevron-circle-right";
        lblwords.innerHTML = "CAREER OPPORTUNITIES";
        moerword.style.display = "none";
      } else {
        spots.style.display = "none";
        lessword.className = "fa fa-chevron-circle-down";
        lblwords.innerHTML = "Read Less";
        moerword.style.display = "inline";
      }
    }
		</script>
{% endblock %}