<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Opsimathy an Education Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Opsimathy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
<!--Second Template-->

<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/bootstrap.css' %}">
<!--Stylesheets-->
<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/style.css' %}">
<!--Responsive-->
<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/responsive.css' %}">
<!--Animation-->
<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/animate.css' %}">
<!--Prettyphoto-->
<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/prettyPhoto.css' %}">
<!--Font-Awesome-->
<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/font-awesome.css' %}">
<!--Owl-Slider-->
<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/owl.theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cosmic/css/owl.transitions.css' %}">

<!--End Second template-->

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- font-awesome icons -->
	<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- online fonts -->
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
</head>
<body>
	<!-- header -->
	<header>
	<div class="top">
			<div class="container">
				<div class="t-op row">
				<div class="col-sm-6 top-left">
					<ul>
						<li>We Serve</li>
						<li class="ml-3">
						<i class="far fa-envelope"></i> <a href="mailto:pr@solusi.ac.zw">Click here for enquiries</a>
					</li>
						</ul>
					</div>
					<div class="col-sm-6 top-middle">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
			<h1>
			<img src="{% static 'images/logo.png' %}" width="50" height="40" alt="" class="img-section4 img-fluid">
			<a class="navbar-brand text-capitalize" href="index.html">
			</a>
			</h1>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			   aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav text-center  ml-lg-auto">
			<li class="nav-item mr-3">
			<a class="nav-link" href="index.html">Home
			<span class="sr-only">(current)</span>
			</a>
			</li>
			<li class="nav-item  mr-3">
			<a class="nav-link" href="about.html">About</a>
			</li>
			<li class="nav-item dropdown mr-3">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
			   aria-expanded="false">
			Administrators
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="https://www.solusi.ac.zw/vice-chancellor/">Vice Chancellor</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/pro-vice-chancellor/">Pro Vice Chancellor</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/director-for-financial-administration/">Director of Financial Administration</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/director-of-student-affairs/">Director of Student Affairs</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/registrar/">Registrar</a>
			</div>
			<li class="nav-item dropdown mr-3">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
			   aria-expanded="false">
			Faculties
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="https://www.solusi.ac.zw/11561-2/">Agriculture, Science & Technology</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/faculty-of-commerce/">Commerce</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/faculty-of-education-and-humanities/">Education & Humanities</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/faculty-of-health-profes/">Health Professions</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/faculty-of-theology-and-chaplaincy/">Theology & Chaplaincy</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/11542-2/">Graduate Studies & Research Development</a>
			</div>
			</li>
			<li class="nav-item dropdown mr-3">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
			   aria-expanded="false">
			Online Services
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="https://sis.solusi.ac.zw/">Online Registration</a>
			<a class="dropdown-item" href="https://www.topup.co.zw/pay-bill/solusi-university">Online Fees Payment</a>
			<a class="dropdown-item" href="https://www.paynow.co.zw/Payment/BillPaymentLink/?q=aWQ9MjM1NCZhbW91bnQ9MC4wMCZhbW91bnRfcXVhbnRpdHk9MC4wMCZmMT0mbD0w">Other Fees Payment</a>
			<a class="dropdown-item" href="https://moodle.solusi.ac.zw/">Elearning</a>
			<a class="dropdown-item" href="https://sis.solusi.ac.zw/">Edurole</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/the-orb/">The Orb</a>
			<a class="dropdown-item" href="https://mail.google.com/mail/u/0/">Email</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/student-handbook/">Student Handbook</a>
			<a class="dropdown-item" href="https://www.solusi.ac.zw/university-events/">University Events</a>
			</div>
			</li>
			<li class="nav-item  mr-3">
			<a class="nav-link" href="https://www.solusi.ac.zw/library/">Library</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="contact.html">contact</a>
			</li>
			<li class="nav-item  mr-3">
			<a class="nav-link" href="alumni.html">Alumni</a>
			</li>
			</ul>
			</div>
			</nav>
			</div>
	</header>



	<section id="slider">
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="background-image:url({% static 'cosmic/images/Slider/01.jpg' %})">
              <div class="carousel-caption container">
                <div class="row">
                  <div class="col-md-7 col-sm-12 col-xs-12">
                    <h1>We Are Cosmix</h1>
                    <h2>Creative Themes</h2>
                    <p>Cosmix – A One Page Parallax, HTML5 and Responsive Template suitable for any creative business agency. Multiple pages also included in this theme with lots of CSS and JQuery animations</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="background-image:url({% static 'cosmic/images/Slider/02.jpg' %})">
              <div class="carousel-caption container">
                <div class="row">
                  <div class="col-md-7 col-sm-12 col-xs-12">
                    <h1>We Are Cosmix</h1>
                    <h2>Creative Themes</h2>
                    <p>Cosmix – A One Page Parallax, HTML5 and Responsive Template suitable for any creative business agency. Multiple pages layouts also in this theme with lots of CSS and JQuery animations</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="background-image:url({% static 'cosmic/images/Slider/03.jpg' %})">
              <div class="carousel-caption container">
                <div class="row">
                   <div class="col-md-7 col-sm-12 col-xs-12">
                    <h1>We Are Cosmix</h1>
                    <h2>Creative Themes</h2>
                    <p>Cosmix – A One Page Parallax, HTML5 and Responsive Template suitable for any creative business agency. Multiple page also included in this theme with lots of CSS and JQuery animations</p>
                  </div>
                </div>
              </div>
            </div>
            <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a> </div>
        </div>
        <!--/#home-carousel-->
      </section>

	<!-- //more -->
<!--footer-->
	<footer>
		<div class="container py-md-4 mt-md-3">
			<div class="row footer-top-w3layouts-agile py-5">
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3><span>About </span>Us</h3>
					</div>
					<div class="footer-text">
						<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3><span>Latest </span>News</h3>
					</div>
					<ul class="footer_grid_list">
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque</a>
					</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed </a>
					</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque </a>
					</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed</a>
					</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque </a>
					</li>
				</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3><span>Quick </span>Links</h3>
					</div>
					<nav class="border-line">
                        <ul class="nav flex-column">
                           <li>
                              <a href="index.html">Home </a>
                           </li>
                           <li>
                              <a href="about.html">About</a>
                           </li>
						   <li>
                              <a href="services.html">Services</a>
                           </li>
                           <li>
                              <a href="gallery.html">Gallery</a>
                           </li>
                           <li>
                              <a href="contact.html">Contact</a>
                           </li>
                        </ul>
                     </nav>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3><span>Subscribe </span>Us</h3>
					</div>
					<p>Vivamus magna justo, lacinia eget consectetur sed.</p>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="Your email..." required="">
						<button class="btn1">
							<i class="far fa-envelope"></i>
						</button>
					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer-->
	<div class="copyright py-3">
		<div class="container">
			<div class="copyrighttop">
				<ul>
					<li>
						<h4>Follow us on:</h4>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-pinterest-p"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="copyrightbottom">
				<p>© 2018 Opsimathy. All Rights Reserved | Design by
					<a href="http://w3layouts.com/">W3layouts</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Opsimathy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <div class="agileits-w3layouts-info">
			<img src="{% static 'images/g6.jpg' %}" class="img-fluid" alt="" />
			<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- //Modal -->
<!-- js-->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- js-->
<!-- clients -->
	<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 2,
							animationSpeed: 1000,
							autoPlay:false,
							autoPlaySpeed: 2500,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems:1
								},
								tablet: { 
									changePoint:768,
									visibleItems: 1
								}
							}
						});
						
					});
			</script>
			<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
	<!-- //clients -->
<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
	
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.js' %}">
	</script>
	<!-- //Bootstrap Core JavaScript -->


    <!--second template-->
<script type="text/javascript" src="{% static 'cosmic/js/jquery.min.js' %}"></script>
<!--Boostrap-Jquery-->
<script type="text/javascript" src="{% static 'cosmic/js/bootstrap.js' %}"></script>
<!--Preetyphoto-Jquery-->
<script type="text/javascript" src="{% static 'cosmic/js/jquery.prettyPhoto.js' %}"></script>
<!--NiceScroll-Jquery-->
<script type="text/javascript" src="{% static 'cosmic/js/jquery.nicescroll.js' %}"></script>
<script type="text/javascript" src="{% static 'cosmic/js/waypoints.min.js' %}"></script>
<!--Isotopes-->
<script type="text/javascript" src="{% static 'cosmic/js/jquery.isotope.js' %}"></script>
<!--Wow-Jquery-->
<script type="text/javascript" src="{% static 'cosmic/js/wow.js' %}"></script>
<!--Count-Jquey-->
<script type="text/javascript" src="{% static 'cosmic/js/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{% static 'cosmic/js/jquery.inview.min.js' %}"></script>
<!--Owl-Crousels-Jqury-->
<script type="text/javascript" src="{% static 'cosmic/js/owl.carousel.js' %}"></script>
<!--Main-Scripts-->
<script type="text/javascript" src="{% static 'cosmic/js/script.js' %}"></script>
</body>
</html>

<!-- Hosting24 Analytics Code -->
<script type="text/javascript" src="http://stats.hosting24.com/count.php"></script>
</body>
</html>