{% extends 'base2.html' %}

{% load static %}
{% block content %}
<section class="banner-1">
</section>




  <section class="welcome py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">  Acting Pro-<span>Vice Chancellor</span> </h2>
     
        <div class="row about-tp mt-md-5 pt-5">
            <div class="col-md-6">
                <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>P</span>ROFESSIONAL QUALIFICATIONS </h5><br>
                <p><span><strong>Dean </strong></span> Faculty of Agriculture & Extension, Solusi University. </p>
                <p><span><strong>Managing Director </strong></span> Jumbo Sustainable Development P/L. </p>
                <p><span><strong>Monitoring </strong></span> Evaluation & Research Manager, PLAN Zimbabwe. </p>
                <p><span><strong> Food </strong></span> Security and Poverty Alleviation Advisor/Household & Economic Security Advisor. PLAN Zimbabwe.</p>
                <p><span><strong>Director </strong></span>  of Institute – Henderson Research Institute.</p>

                <p><span><strong>Principal </strong></span> Research Officer. Department of Research & Specialist Services. </p>
                <p><span><strong>Principal  </strong></span> Technical Specialist. Department of Agriculture-Technical & Extension Service. </p>
                <p><span><strong>Regional  </strong></span> Agriculture Officer. Department of Agriculture- Technical & Extension Services. </p>
                <p><span><strong>Part-time  </strong></span> Tutor– National University of Science and Technology (NUST).</p>
                <p><span><strong>Part-time </strong></span>  Tutor – University of Zimbabwe / Zimbabwe Open University. </p>
                <p><span><strong>Full-Time </strong></span>  Professor, Solusi University, P.O. Solusi, Zimbabwe. </p>
                <p><span><strong>Graduate </strong></span>  Research Supervisor. </p>
                <p><span><strong>Coordinator </strong></span> HOD, Nutrition and Dietetics, BSc. Honours Programme. </p>
       </div>

          

            <div class="col-lg-6 ab-sec">

               <h5 style="text-align: center;"><span><strong>Professor</strong></span> Bartholomew Mupeta, PhD <h/5>
                <br>
                <br>
                <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="{% static 'cosmic/images/Aboutus/proVC.jpg' %}" width="400" height="400" alt=""> </div>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
           
             <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>E</span>DUCATION</h5><br>


<table class="table table-hover">
    <thead">
      <tr>
        <th  style="font-size: smaller;">Institutional/Location</th>
        <th  style="font-size: smaller;">Degree</th>
        <th  style="font-size: smaller;">FIELD OF STUDY</th>
      </tr>
    </thead>
    <tbody style="font-size: x-small;">
      <tr>
        <td>University of Zimbabwe</td>
        <td>MSc</td>
        <td>Agriculture</td>
      </tr>
      <tr>
        <td>University of Zimbabwe</td>
        <td>BSc</td>
        <td>Agriculture</td>
      </tr>
      
      
    </tbody>
  </table>

            </div>

        </div>
    </div>

   
</section>
<br>
<br>
<br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
<section class="services">
    <div class="container "> 
        <div class="banner-bottom-main bg-white">
            <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>P</span>ROFESSIONAL QUALIFICATIONS </h5><br>
            <span class="w3-line black"></span>	
            <div class="">
        <div class="">
           <p><span><strong>1. </strong></span> Strategic Planning and Management.</p>
        </div>
        <div class="">
            <p><span><strong>2. </strong></span> Development of M&E Systems.</p>
         </div>
         <div class="">
            <p><span><strong>3. </strong></span> Policy, Planning and Implementation.</p>
         </div>
         <div class="">
            <p> <span><strong>4. </strong></span> Sphere Humanitarian Charter and Minimum Standards.</p>
         </div>
         <div class="">
            <p> <span><strong>5. </strong></span> UNDDS.</p>
         </div>
         <div class="">
            <p><span><strong>6. </strong></span> Emergency Preparedness and Responses.</p>
         </div>
         <div class="">
            <p><span><strong>7. </strong></span> Community Managed Microfinance. </p>
         </div>
         <div class="">
            <p> <span><strong>8. </strong></span>  Market Development and Value Chain.</p>
         </div>
         <div class="">
            <p><span><strong>9. </strong></span> ISO-9001Quality Management Development and Implementation.</p>
         </div>
         <div class="">
            <p><span><strong>10. </strong></span> Integrated Water Resources Management and Multiple Use of Water.</p>
         </div>
         <div class="">
            <p><span><strong>10. </strong></span>  Financial Management for Non-Financial Managers.</p>
         </div>
      
    </div>	
    <br>
    <br>
    <div>
        <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>R</span>ESEARCH FELLOWSHIPS AND AWARDS</h5><br>
        <span class="w3-line black"></span>
        
        
        <div class="">
            <p><span><strong>1. </strong></span>  <span style="color: #527dbd ;">United Nations Environment Program </span>	Nobel Peace Prize award certificate.</p>
         </div>
         <div class="">
            <p><span><strong>2. </strong></span>  <span style="color: #527dbd ;">Siberia – Russia </span> Climate Change Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>3. </strong></span>  <span style="color: #527dbd ;">Wagengen- Netherlands </span>	Climate Change Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>4. </strong></span>  <span style="color: #527dbd ;">Brazil Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>5. </strong></span>  <span style="color: #527dbd ;">ILRI, Nairobi – Kenya </span> ILRI Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>6. </strong></span>  <span style="color: #527dbd ;">Research Centre- Foulum-Denmark  </span> DANIDA Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>7. </strong></span>  <span style="color: #527dbd ;">ILRI, Nairobi – Kenya </span>	ILRI Research Fellow.</p>
         </div>
         <div class="">
            <p><span><strong>8. </strong></span>  <span style="color: #527dbd ;">Research Centre Foulum- Denmark  </span>	DANIDA Research Fellow.</p>
         </div>
        
    </div>
<br>
<br>
    <div>
        <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>A</span>SSOCIATIONS AND MEMBERSHIP STATUS/h5><br>
        <span class="w3-line black"></span>
        
        
        <div class="">
            <p><span><strong>1. </strong></span>  <span style="color: #527dbd ;">Secretary/Treasurer</span> Grassland Society of Zimbabwe .</p>
         </div>
         <div class="">
            <p><span><strong>2. </strong></span>  <span style="color: #527dbd ;">Chairperson  </span>	Grassland Society of Zimbabwe 	.</p>
         </div>
         <div class="">
            <p><span><strong>3. </strong></span>  <span style="color: #527dbd ;">Member  </span>	Grassland Society of Zimbabwe.</p>
         </div>
         <div class="">
            <p><span><strong>4. </strong></span>  <span style="color: #527dbd ;">Member  </span>	Zimbabwe Society for Animal Production.</p>
         </div>
         <div class="">
            <p><span><strong>5. </strong></span>  <span style="color: #527dbd ;">Board Member  </span>	Mazowe Veterinary College.</p>
         </div>
         <div class="">
            <p><span><strong>6. </strong></span>  <span style="color: #527dbd ;">Board Member  </span>	DChaminuka Agric Institute.</p>
         </div>
         <div class="">
            <p><span><strong>7. </strong></span>  <span style="color: #527dbd ;">Board Member  </span>	Mazowe River Catchment.</p>
         </div>
         <div class="">
            <p><span><strong>8. </strong></span>  <span style="color: #527dbd ;">Board Member  </span>	Biotechnology Trust Zimbabwe.</p>
         </div>
         <div class="">
            <p><span><strong>9. </strong></span>  <span style="color: #527dbd ;">Country representative  </span>	South & East Africa Association of Farming Systems Research & Extension.</p>
         </div>

        

    </div>

<br>
<br>


<br>
<br>
<div>
    <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>P</span>UBLICATIONS</h5><br>
    <span class="w3-line black"></span>
    
    
    <div class="">
        <p><span><strong>1. </strong></span>   30 Publications and Manuscripts.</p>
     </div>
     
   
</div>
     </div>
        
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}