{% extends 'base2.html' %}

{% load static %}
{% block content %}
<section class="banner-1">
</section>




  <section class="welcome py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">Reg<span>istrar</span>  <span><strong>Tembekile</strong></span>   Musvosvi </h2>
     
        <div class="row about-tp mt-md-5 pt-5">
            <div class="col-md-6">
                <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>E</span>DUCATION</h5><br>
<br>
                <table class="table table-hover">
                    <thead">
                      <tr>
                        <th  style="font-size: smaller;">Institutional/Location</th>
                        <th  style="font-size: smaller;">Degree</th>
                        <th  style="font-size: smaller;">FIELD OF STUDY</th>
                      </tr>
                    </thead>
                    <tbody style="font-size: x-small;">
                      <tr>
                        <td>University of Zimbabwe</td>
                        <td>MSc</td>
                        <td>Agriculture</td>
                      </tr>
                      <tr>
                        <td>University of Zimbabwe</td>
                        <td>BSc</td>
                        <td>Agriculture</td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
     <div class="col-lg-6 ab-sec">

               <h5 style="text-align: center;"><span><strong>Tembekile</strong></span>   Musvosvi <h/5>
                <br>
                <br>
                <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="{% static 'cosmic/images/Aboutus/reg.jpeg' %}" width="300" height="400" alt=""> </div>
            
           </div>

        </div>
    </div>

   
</section>


{% endblock %}