{% extends 'base2.html' %}

{% load static %}
{% block content %}
<section class="banner-1">
</section>
<section class="welcome py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">
            Director of  <span> Student Affairs</span> </h2>
     
        <div class="row about-tp mt-md-5 pt-5">
            <div class="col-md-8">
                <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>E</span>DUCATION</h5><br>
<br>
<div class="col-lg-8 welcome-left">
  <h3>DMin, PhD</h3>
  
  <p>

   <b style="color:#cc3333 ;">Ordained</b> Pastor and Marriage Officer of Seventh Day Church<br>
   <b style="color:#cc3333 ;">District</b> Pastor and Youth Director of West Zimbabwe Conference<br>
   <b style="color:#cc3333 ;">Joined</b> Solusi University as Senior Lecturer, rose to Chairperson of Faculty of Theology and Chaplaincy<br>
   <b style="color:#cc3333 ;">Ellen</b> G White Study Centre Director<br>
   <b style="color:#cc3333 ;">Acting</b> Chaplain<br>
   <b style="color:#cc3333 ;">Member</b> of International Ministerial Association of Seventh Day Adventist Journal<br>
   <b style="color:#cc3333 ;">Author</b> of two books - One Anotherness, 2014 & Let’s Go to Gethsemane, 2016.<br>

  </p>
</div>
                </div>
     <div class="col-lg-4 ab-sec">

               <h5 style="text-align: center;"><span><strong>Herbert</strong></span>  Ndlovu, PhD
                <h/5>
                <br>
                <br>
                <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="{% static 'cosmic/images/Aboutus/student.jpg' %}" width="300" height="400" alt=""> </div>
            
           </div>

        </div>
    </div>

   
</section>


{% endblock %}