{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="banner-1">
</section>
<section class="about-w3ls py-5">
  <div class="container pt-xl-5 pb-lg-3">
  <h2 class="heading-agileinfo">e-R<span>esources</span></h2>
  <div class="row mt-md-5 pt-4">
  <div class="col-lg-12 ">
  <div class="agil_mor">
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Academic Journals </span><br>
  Academic scholarly Journals accelerate the dissemination of knowledge through the publication of high quality research articles using the open access model.
  <br>
  <a href="https://academicjournals.org/" target="_blank">Academic Journals</a>
  </p>
  
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Africa portal (ejournals) </span><br>
  Africa Portal is the online library collection holding over 4,000 books, journals, and digital documents related to African policy issues. Africa Portal aims to improve access and visibility for African research.
  <br>
  <a href="https://www.africaportal.org/" target="_blank">Africa portal (ejournals)</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">AGORA </span><br>
  Low-cost access to major scientific journals in agriculture and related biological, environmental and social sciences for public academic institutions in developing countries.
  <br>
  <a href="http://agora-journals.fao.org/content/en/journals.php/" target="_blank">AGORA</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Online Access to Research in the Environment AJOL </span><br>
  African Journals Online (AJOL) is the world’s largest online library of peer-reviewed, African-published scholarly journals. Historically, scholarly information has flowed from North to South and from West to East. It has also been difficult for African researchers to access the work of other African academics. In partnership with hundreds of journals from all over the continent, AJOL works to change this, so that African-origin research output is available to Africans and to the rest of the world. You only have access to Open Access articles.
  <br>
  <a href="https://www.ajol.info/index.php/ajol" target="_blank">Online Access to Research in the Environment AJOL</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">American Institute of Physics – AIP Publishing </span><br>
  AIP publishing hosts over 2 million articles from more than 200 scholarly publications from 28 learned society publishers. Its subject strengths are Applied and multidisciplinary physics
  <br>
  <a href="http://aip.scitation.org/" target="_blank">American Institute of Physics – AIP Publishing</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">American Physical Society APS </span><br>
  Access to the journals produced by the American Physical Society and the Physical Review Online Archive (PROLA).Subject areas covered include Physics, Atomic, molecular and optical physics, Condensed matter and materials physics, Nuclear physics, Particles, fields, gravitation, and cosmology Statistical, non-linear, and soft matter physics, accelerators and beams, Physics education research.
  <br>
  <a href="https://journals.aps.org/" target="_blank">American Physical Society APS</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">
  Access to Research for Development and Innovation</span><br>
  ARDI provides access to up to 8,000 journals and up to 20,000 e-books in Research for Development and Innovation designed to reinforce the knowledge infrastructure in developing and least developed countries.
  
  <br>
  <a href=" http://www.wipo.int" target="_blank">Access to Research for Development and Innovation</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">arXiv </span><br>
  Open access to 1,448,113 e-prints in Physics, Mathematics, Computer Science, Quantitative Biology, Quantitative Finance, Statistics, Electrical Engineering and Systems Science, and Economics
  <br>
  <a href="https://arxiv.org/" target="_blank">arXiv</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">BookBon </span><br>
  Bookbon is a free to use website that lets you download eBooks. The eBooks are categorized either as textbooks or books for business or travel.
  <br>
  <a href="https://bookboon.com/" target="_blank">BookBon</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">
  Bookfi – Electronic library </span><br>
  Bookfi is one of the most popular Multi-lingual online libraries in the world. It has more than 2230000 books. It aims to increase the number of books and quality of service.
  <br>
  <a href="http://en.bookfi.net//" target="_blank">Bookfi – Electronic library</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Canadian Science Publishing (publisher of the NRC Research Press journals)</span><br>
  Canadian Science Publishing provides online peer-reviewed journals in a broad range of scientific discipline
  <br>
  <a href="https://cdnsciencepub.com/">Canadian Science Publishing (publisher of the NRC Research Press journals)" target="_blank"</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">De Gruyter Journals </span><br>
  Access to over 375 titles delivering a wide variety of content in humanities, medicine, natural sciences, mathematics, theology, religion and law
  <br>
  <a href="http://www.degruyter.com/" target="_blank">De Gruyter Journals</a>
  </p>
  
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Directory of Open Access Books (DOAB) </span><br>
  The Directory of Open Access Books (DOAB) is a discovery service for peer reviewed books published under an open access license. DOAB provides a searchable index to the information about these books, with links to the full texts of the publications at the publisher’s website or repository.
  <br>
  <a href="http://www.doabooks.org/" target="_blank">Directory of Open Access Books (DOAB)/</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Directory of Open Access Journals (DOAJ)</span><br>
  DOAJ is a community-curated online directory that indexes and provides access to high quality, open access, peer-reviewed journals.
  <br>
  <a href="https://doaj.org/" target="_blank">Directory of Open Access Journals (DOAJ)/</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Directory of Open Access Resources (OpenDOAR) </span><br>
  The Directory of Open Access Resources (OpenDOAR) aims to provide a comprehensive and authoritative list of academic open access repositories for end-users who wish to find particular archives or who wish to break down repositories by locale, content or other measures.
  <br>
  <a href="http://www.opendoar.org/" target="_blank">Directory of Open Access Resources (OpenDOAR)</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Duke University Press </span><br>
  Duke University Press publishes 51 periodicals that span a range of disciplines within the humanities and social sciences. Disciplines within the humanities and sciences: from East Asian cultural studies to French history, to mathematics and the history of economic thought, from feminism, culture and media studies to medieval and early modern studies.
  <br>
  <a href="https://read.dukeupress.edu/" target="_blank">Duke University Press</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Ebrary </span><br>
  Collection of e-books covering the following disciplines: Anthropology, Business & Economics, Computers & IT, Education, Fine Arts, History, Language and Literature, Law, Life Sciences, Medicine, Physical Sciences, Psychology, Religion, Social Sciences and Technology.
  <br>
  <a href="http://site.ebrary.com/lib/solusi/home.action/" target="_blank">Ebrary</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">EBSCOHostResearchDatabases </span><br>
  Provides full-text abstracted and indexed journals from all branches of science, technology, medicine, social sciences and humanities.
  <br>
  <a href="http://search.ebscohost.com/" target="_blank">EBSCOHostResearchDatabases</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Edinburgh University Press Journals</span><br>
  Edinburgh University Press publishes over 35 journals across a range of disciplines in the humanities and social sciences including Literary Studies, Philosophy, Historical Studies, Linguistics, Film & Media Studies, Islamic & Middle Eastern Studies, Politics, Law and Scottish Studies
  <br>
  <a href="http://www.euppublishing.com/journals" target="_blank">Edinburgh University Press Journals</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Eldis </span><br>
  The aim of this database is to apportion the best in development policy, practice and research. Browse the latest editorially selected content from over 7,500 development organizations – all available free to download.
  <br>
  <a href="https://www.eldis.org/" target="_blank">Eldis</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">EGW Books </span><br>
  The database consists of 5-classic titles from the Conflict of the Ages Series only
  <br>
  <a href="https://www.ellengwhitetruth.com/free-resources/egw-books/" target="_blank">EGW Books</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Ellen G. White®Estate </span><br>
  The General Conference and the Ellen G. White Estate have launched the largest global book repository with the history of the Seventh-day Adventist Church. This database supports the mission of the Seventh-day Adventist Church in uplifting Jesus Christ and His Word by sharing Ellen White’s prophetic ministry and writings throughout the world.
  <br>
  <a href="https://whiteestate.org/books/egw-books/books/" target="_blank">Ellen G. White®Estate</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Emerald Group publishing</span><br>
  Emerald Group features 140 peer-reviewed Business and Management journals and 19 Engineering journals. Subject areas covered by Emerald include, Accounting, Finance & Economics, Business, Management & Strategy, Education, HR, Learning & Organization Studies, Health & Social Care, Information & Knowledge Management, Library Studies and Marketing
  <br>
  <a href=" http://www.emeraldinsight.com" target="_blank">Emerald Group publishing</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">ETD </span><br>
  Central portal to search and locate Electronic Theses and Dissertations (ETDs) from universities around the world.
  <br>
  <a href="http://search.ndltd.org/" target="_blank">ETD</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">GOALI-Law </span><br>
  Emerald Group features 140 peer-reviewed Business and Management journals and 19 Engineering journals. Subject areas covered by Emerald include, Accounting, Finance & Economics, Business, Management & Strategy, Education, HR, Learning & Organization Studies, Health & Social Care, Information & Knowledge Management, Library Studies and Marketing
  <br>
  <a href="https://www.researchgate.net/" target="_blank">GOALI-Law</a>
  </p>
  
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Global Electronic Thesis and Dissertation Search </span><br>
  Central portal to search and locate Electronic Theses and Dissertations (ETDs) from universities around the world.
  <br>
  <a href="https://www.ema.co.zw/agency/state-of-the-environment-report">Ema Zimbabwe Environment Outlook" target="_blank"</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">HINARI </span><br>
  Free access to 2300 biomedical and related social sciences journals and other resources for health sector and academic institutions in 120 developing countries
  <br>
  <a href="http://www.who.int/hinari/en" target="_blank">HINARI</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Hindawi</span><br>
  Hindawi is one of the world’s largest publishers of peer-reviewed, fully Open Access journals. Built on an ethos of openness, we are passionate about working with the global academic community to promote open scholarly research to the world. With the help of our academic Editors, based in
  <br>
  <a href="https://www.hindawi.com/" target="_blank">Hindawi</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Henry Stewart Talks </span><br>
  Over 800 specially prepared online audio-visual lectures by leading experts in business, management, digital libraries, Biomedicine and life sciences
  <br>
  <a href="https://hstalks.com/">Henry Stewart Talks" target="_blank"</a>
  </p>
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">IFLALibrary </span><br>
  The IFLA Library pulls together IFLA’s digital resources in a convenient single online location for ease of accessibility, search and browsing
  <br>
  <a href="http://library.ifla.org/information.html" target="_blank">IFLALibrary</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">International Monetary Fund (IMF) </span><br>
  IMF eLibrary provides comprehensive data and original analysis, with coverage of almost every economy in the world and a special focus on developing and emerging economies. Its subject areas include economic data, monetary policy, financial stability, economic development, forecasts and outlooks as well as poverty reduction.
  <br>
  <a href="https://www.elibrary.imf.org/" target="_blank">International Monetary Fund (IMF)</a>
  </p>
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Institute for Operations Research and Management Sciences (INFORMS) </span><br>
  INFORMS publishes scholarly journals whose focus is on Operations Research, Management Science, Analytics, Operations Management, Information Systems, Decision Analysis, Research Theory, Marketing Research and Science, Computing and Information Technologies, Research Theory, Strategic Management, Mathematical Theory, Supply Chain Management, Science Research and Education
  <br>
  <a href="http://www.informs.org/">Institute for Operations Research and Management Sciences (INFORMS)/" target="_blank"</a>
  </p>
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">International Water Association</span><br>
  Open Access publication for articles, books, journals and news in H2, wastewater and environmental fields. IWA Publishing is a not-for-profit society focused on publishing and broadcasting key research in the world of water. 
  <br>
  <a href="https://www.iwapublishing.com/journals">International Water Association/"</a>
  </p>
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">IET Digital Library</span><br>
  The Institution of Engineering and Technology Digital Library is a global repository of science, engineering and technology focused content produced by the world’s leading international scientific organisation and thought leader – the IET. Subject areas covered by IET include Electrical and electronic engineering, Telecommunications, Computing, Power, Control, Radar, Circuits, Materials, Life sciences related research and IT
  <br>
  <a href="http://digital-library.theiet.org/" target="_blank">IET Digital Library</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Journal of the Acoustical Society of America (JASA)</span><br>
  Journal of the American Statistical Association is a journal of statistical science that publishes research in statistical applications, theory and methods. 
  <br>
  <a href="http://www.who.int/hinari/en">Journal of the Acoustical Society of America (JASA)/" target="_blank"</a>
  </p>
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Liebert Publications </span><br>
  Provides full- text articles in the agricultural sciences: agricultural economics, aquaculture, crop and soil science, livestock production, microbiology, natural resource management, plant protection, rural development.
  <br>
  <a href="http://www.liebertpub.com/publications.aspx/" target="_blank">Liebert Publications</a>
  </p>
  
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Mary Ann Liebert </span><br>
  Provides full- text articles in the agricultural sciences: agricultural economics, aquaculture, crop and soil science, livestock production, microbiology, natural resource management, plant protection, rural development.
  <br>
  <a href="http://www.liebertpub.com/publications.aspx/" target="_blank">Mary Ann Liebert</a>
  </p>
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">OARE</span><br>
  OARE provides access to up to 10,000 journals, up to 21,000 e-books, and up to 55 other information resources in a wide range of disciplines including environmental toxicology and pollution, zoology, botany, ecology, environmental chemistry, geology, hydrology, oceanography, meteorology, climatology, geography, environmental economics, environmental law and policy, conservation policy and planning, environmental biotechnology, environmental engineering, energy, and many other disciplines.
  <br>
  <a href="http://oare.oaresciences.org/content/en/journals.php/" target="_blank">OARE</a>
  </p>
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Open Access Digital Theological Library</span><br>
  
  (OADTL) provide free or low cost online theological books, articles, journals and databases. Currently it has got 198 000+ Books, 10 000 000 + articles, 85+ Databases, 5+ Research aids and 2600 Journals
  <br>
  <a href="https://oadtl.org/">Open Access Digital Theological Library/" target="_blank"</a>
  </p>
  
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">OpenStax </span><br>
  OpenStax is a non-profit organization for physics and statistics books, course cartridges, lecture slides, and more extra resources to help instructors teach online.
  <br>
  <a href="https://openstax.org/" target="_blank">OpenStax</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Organisation for Economic Co-operation and Development</span><br>
  OECD is the world’s largest think-tank, renowned for its authoritative, internationally comparable statistics, analysis, and outlooks in Economics, Public Policy, Social Sciences and Environmental issues.Free access to 2300 biomedical and related social sciences journals and other resources for health sector and academic institutions in 120 developing countries
  <br>
  <a href="http://www.oecd-ilibrary.org/" target="_blank">Organisation for Economic Co-operation and Development</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Oxford Academy Journals</span><br>
  
  The Oxford University Press Journals Collection includes journals in the fields of Medicine, Life Sciences, Humanities, Law, Mathematics and Physical Sciences, and Social Sciences
  <br>
  <a href="https://academic.oup.com/journals/" target="_blank">Oxford Academy Journals</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">PDF DRIVE </span><br>
  PDF Drive is your search engine for PDF files. As of today we have 78,335,987 eBooks for you to download for free.
  <br>
  <a href="https://www.pdfdrive.com/n" target="_blank">PDF DRIVE</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Policy Press</span><br>
  Policy Press publishes highly prestigious journals in the fields of public and social policy, Social welfare, Family policy, Social work, Criminal justice, and Housing and Urban policy
  <br>
  <a href=" https://www.policypress.co.uk/" target="_blank">Policy Press</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">PROJECT MUSE JOURNALS </span><br>
  Project MUSE provides online access to over 650 full-text journals from over 200 non-profit publishers in the humanities and social sciences. Its subject strengths include Art and Architecture, Creative Writing, Education, Film Theater, and Performing Arts, History, Language and Linguistics, Library Science and Publishing, Literature, Medicine and Health, Music, Philosophy, Religion, Science, Technology, and Mathematics, Social Sciences, Studies by Time Period, Women’s Studies, Gender, and Sexuality
  <br>
  <a href="http://muse.jhu.edu/" target="_blank">PROJECT MUSE JOURNALS</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">ResearchGate </span><br>
  ResearchGate is the professional network for scientists and researchers. Over 19 million members from all over the world use it to share, discover, and discuss research. They are guided by their mission to connect the world of science and make research open to all. Share your publications, access millions more, and publish your data. People who wish to become site members need to have an email address at a recognized institution or to be manually confirmed as a published researcher in order to sign up for an account and can upload research output including papers, data, chapters, negative results, patents, research proposals, methods, presentations, and software source code. Users may also follow the activities of other users and engage in discussions with them. Users are also able to block interactions with other users.
  <br>
  <a href="www.researchgate.net/" target="_blank">ResearchGate</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Royal College of Physicians</span><br>
  Clinical Medicine journal is read by leading physicians in hospitals across the world. It features articles covering original research, current issues, ethics, law, clinical governance and audit, and also reports on prestigious College lectures and conferences.
  <br>
  <a href="http://www.ingentaconnect.com/" target="_blank">Royal College of Physicians</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Royal Society </span><br>
  
  Ten leading international journals from the Royal Society, the UK’s national academy of science. Titles cover the whole of the biological and physical sciences, and include Philosophical Transactions of the Royal Society, the world’s first science journal, mathematics, engineering, ecology, environment, Multidisciplinary and interdisciplinary science.
  <br>
  <a href="http://rspb.royalsocietypublishing.org/" target="_blank">Royal Society</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Sage Journals </span><br>
  A portfolio of over 900 journals in the business, humanities, social sciences and science, technology and medicine (STM).
  <br>
  <a href="http://online.sagepub.com/" target="_blank">Sage Journals</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">
  Science Publications </span><br>
  Science Publications offers peer-reviewed, open access academic journals. They aim to provide researchers, writers, academic professors and students with up-to-date research in a broad range of areas.
  <br>
  <a href="https://www.sciencemag.org/" target="_blank">Science Publications</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Scitation </span><br>
  Scitation is home to the most influential news, comment, analysis and research in the Physical Sciences. Subject areas covered include General Linear Acoustics, Nonlinear Acoustics, Atmospheric Acoustics and Aero-acoustics
  <br>
  <a href="http://www.scitation.org/" target="_blank">Scitation</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Springer</span><br>
  Springer Link is an integrated full-text database for journals and books published by Springer. Springer Link currently offers over 1,250 fully peer-reviewed journals and more than 10,000 books online.
  <br>
  <a href="https://link.springer.com/" target="_blank">Springer</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Taylor & Francis Journals</span><br>
  More than 1,300 titles in humanities, social sciences and applied sciences.
  <br>
  <a href="http://www.tandfonline.com/"  target="_blank>Taylor & Francis Journals</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">
  The Directory of Open Access Resources </span><br>
  (OpenDOAR) aims to provide a comprehensive and authoritative list of academic open access repositories for end-users who wish to find particular archives or who wish to break down repositories by locale, content or other measures.
  <br>
  <a href="http://www.opendoar.org/" target="_blank>The Directory of Open Access Resources</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">
  
  
  The Journal of African Youth Literature </span><br>
  Jay Lit is an open access that publishes creative writing, poetry, prose (stories and narratives), plays, visual stories such as photo essays, and comic and graphic artwork with a storyline written by, about, and/or for born-in-Africa youths in ANY language used in Africa. The definition of ‘African’ is not related to colour, race or ethnicity, but rather place of origin and heritage. The youth age category is from 15 to 35 years. They publish literature written by Africans in this age category and by other individuals who are writing with African youths in mind.
  <br>
  <a href="https://africanyouthliterature.art.blog/" target="_blank>The Journal of African Youth Literature</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">University of Chicago Press Journals </span><br>
  The journals present original research in the social sciences, humanities, education, economics, law, social sciences, biological and physical sciences.
  <br>
  <a href="http://www.journals.uchicago.edu/" target="_blank>University of Chicago Press Journals</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">UNESCO</span><br>
  UNESDCO Digital Library works to create the conditions for dialogue among civilizations, cultures and peoples, based upon respect for commonly shared values. It is through this dialogue that the world can achieve global visions of sustainable development encompassing observance of human rights, mutual respect and the alleviation of poverty, all of which are at the heart of UNESCO’S mission and activities.
  <br>
  <a href="http://www.who.int/hinari/en">UNESCO/" target="_blank</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">UNDP Zimbabwe Library</span><br>
  The Library features important development information resources about Zimbabwe.
  <br>
  <a href="www.zw.undp.org/" target="_blank>UNDP Zimbabwe Library</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Wiley Online Library Full</span><br>
  This package provides access to over 1,370 journals across all major academic disciplines, including Computer Science, Physics and Astronomy, Chemistry, Engineering, Life, Earth and Environmental Sciences, Mathematics & Statistics, Medicine & Nursing, Polymers and Materials Science, Business, Humanities and Social sciences.
  <br>
  <a href="http://onlinelibrary.wiley.com/" target="_blank>Wiley Online Library Full</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">World Bank.</span><br>
  Documents in both text and downloadable pdf format can be accessed by browsing or searching. Most documents are also available in depository libraries around the world. You can use the options under the search box to browse through the documents by country, type, or sector, or search via the Advanced Search page. The types of documents you will find include: Board Documents, Country Focus Documents, Economic & Sector Work and Project Documents.
  <br>
  <a href="
  https://openknowledge.worldbank.org/" target="_blank>World Bank.</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">org</span><br>
  WorldWideScience.org is a global science gateway, providing one-stop searching of over 90 national and international scientific databases and portals from more than 70 countries.
  <br>
  <a href="https://worldwidescience.org/" target="_blank>org</a>
  </p>
  
  <div class="agileits-abt-grids ">
  <p class="sec-4" style="text-align: justify; text-justify: inter-word;"><span style="color: #cc3333;">Z-Library</span><br>
  
  Z–Library is the world’s largest ebook library, a file-sharing project for scholarly journal articles, academic and general-interest books. Z-Library provides access to more than 5.5 million books and over 77.5 million articles as of October 2020.
  <br>
  <a href="
  https://z-lib.org/" target="_blank>Z-Library</a>
  </p>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  

  {% endblock %}