{% extends 'base2.html' %}

{% load static %}
{% block content %}
<section class="banner-1">
</section>




  <section class="welcome py-5">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo"> Vice <span>Chancellor</span> </h2>
     
        <div class="row about-tp mt-md-5 pt-5">
            <div class="col-md-6">
                <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>R</span>ESEARCH AND PROFESSIONAL EXPERIENCE</h5><br>
                <p><span><strong>2018- </strong></span> PresentVice Chancellor , Solusi University. </p>
                <p><span><strong>2016 – 2018 </strong></span> Dean, School of Science and Technology, Rusangu University, Monze, Zambia. </p>
                <p><span><strong>2003 – 2015 </strong></span> Professor of Medical Biochemistry and Head of Department, Department of Chemistry, Geology and Physics, Elizabeth City State University (ECSU), North Carolina, USA. </p>
                <p><span><strong>20012 – 2015 </strong></span> Director of US Government Grant for Maximizing Access to Research Careers Undergraduate Student Training in Academic Research (E-MARC U*STAR) funded by National Institutes of Health.</p>
                <p><span><strong>2005 – 2014 </strong></span> Director of US Government Grant for Minority Students International Research Training Program (E-MHIRT) funded by National Center for Minority Health and Health Disparities at National Institutes of Health (NIH),.</p>

                <p><span><strong>2009 -2013 </strong></span> Director of US Government Grant, Research Initiative for Scientific Enhancement for Students funded by the National Institute for General Medical Sciences and NIH, US Federal Government. </p>
                <p><span><strong>1997 – 2003 </strong></span> Director of Research, Oakwood University, Huntsville, AL 35896. </p>
                <p><span><strong>1999 – 2003 </strong></span> Extramural Research Associate at the National Institutes of Health. </p>
                <p><span><strong>1990 – 1996 </strong></span> Professor and Chair, Department of Chemistry, Oakwood University. </p>
                <p><span><strong>1994 </strong></span> Visiting Professor of Biochemistry, Loma Linda University, Loma Linda, CA. </p>
                <p><span><strong>1985-1989 </strong></span> Associate Professor of Chemistry, Oakwood University. </p>
                <p><span><strong>1981-1985 </strong></span> Director-General Research, National Research Institute of Zimbabwe, Zimbabwe. </p>
                <p><span><strong>1978-1981 </strong></span> Assistant Professor of Chemistry, Oakwood University. </p>
       </div>

          

            <div class="col-lg-6 ab-sec">

               <h5 style="text-align: center;"><span><strong>Professor</strong></span> Ephraim T. Gwebu, PhD
           
                <h/5>
                <br>
                <br>
                <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="{% static 'cosmic/images/Aboutus/vc.png' %}" width="400" height="400" alt=""> </div>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
           
             <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>E</span>DUCATION</h5><br>


<table class="table table-hover">
    <thead">
      <tr>
        <th  style="font-size: smaller;">Institutional/Location</th>
        <th  style="font-size: smaller;">Degree</th>
        <th  style="font-size: smaller;">FIELD OF STUDY</th>
      </tr>
    </thead>
    <tbody style="font-size: x-small;">
      <tr>
        <td>The Ohio State University (OSU) in the United States of America</td>
        <td>Ph.D.</td>
        <td>Physiological Chemistry (Medical Biochemistry)</td>
      </tr>
      <tr>
        <td>The Ohio State University</td>
        <td>OSU Post-Doctoral Fellowship</td>
        <td>Medical Biochemistry (Atherosclerosis and Antioxidants)</td>
      </tr>
      <tr>
        <td>The Ohio State University</td>
        <td>The Ohio State University</td>
        <td>Medical Biochemistry (Cytotoxicity Studies)</td>
      </tr>
      <tr>
        <td>The Ohio State University</td>
        <td>NIH* Fellowship</td>
        <td>Neurochemistry Alzheimer’s disease and Antioxidants)</td>
      </tr>
      <tr>
        <td>Johns Hopkins University, America</td>
        <td>International Development Research Center Fellowship</td>
        <td>Epidemiology (Tropical diseases)</td>
      </tr>
      <tr>
        <td>University of Sierra Leone</td>
        <td>B.Sc. Ed.</td>
        <td>Chemistry and Teacher Education</td>
      </tr>
    </tbody>
  </table>

            </div>

        </div>
    </div>

   
</section>
<br>
<br>
<br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
<section class="services">
    <div class="container "> 
        <div class="banner-bottom-main bg-white">
            <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>H</span>ONORS & AWARDS/RECOGNITIONS FOR ACADEMIC EXCELLENCE</h5><br>
            <span class="w3-line black"></span>	
            <div class="">
        <div class="">
           <p><span><strong>1. </strong></span> University of North Carolina Board of Governors’ Award for Teaching Excellence, 2015, USA.</p>
        </div>
        <div class="">
            <p><span><strong>2. </strong></span> Chancellor’s Award for Academic Excellence, Elizabeth City State University, NC, 2010.</p>
         </div>
         <div class="">
            <p><span><strong>3. </strong></span> Scholarly Activity Award, School of Mathematics, Science and Technology, Elizabeth City State University, 2006</p>
         </div>
         <div class="">
            <p> <span><strong>4. </strong></span> Annual Meritorious Service Award, Oakwood College, 1993 and 1994.</p>
         </div>
         <div class="">
            <p> <span><strong>5. </strong></span> TENNECO Award for Excellence in Teaching, 1992.</p>
         </div>
         <div class="">
            <p><span><strong>6. </strong></span> Sears-Roebuck Foundation Teaching Excellence and Campus Leadership Award, 1990.</p>
         </div>
         <div class="">
            <p><span><strong>7. </strong></span> Oakwood College National Zapara Award for Excellence in Teaching, 1989. </p>
         </div>
         <div class="">
            <p> <span><strong>8. </strong></span>    National Zapara Award for Excellence in Teaching, 1989.</p>
         </div>
         <div class="">
            <p><span><strong>9. </strong></span> Helen Wikoff Honorary Award in Biomedical Research, Ohio State University, College of Medicine, 1978.</p>
         </div>
         <div class="">
            <p><span><strong>10. </strong></span> Paul Berry Memorial Award for Outstanding Achievements in Chemistry, Njala College, University of Sierra Leone, 1972.</p>
         </div>
      
    </div>	
    <br>
    <br>
    <div>
        <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>S</span>UCCESS IN GRANTSMANSHIP (WRITING FUNDED GRANTS)</h5><br>
        <span class="w3-line black"></span>
        
        
        <div class="">
            <p><span><strong>1. </strong></span>  Elizabeth City State University (ECSU), North Carolina (Total=$5,257,143).</p>
         </div>
         <div class="">
            <p><span><strong>2. </strong></span> Oakwood University, Huntsville Alabama (Total = $2,636,700).</p>
         </div>
         <div class="">
            <p><span><strong>3. </strong></span> Zimbabwe National Institute of Health Research (Total = US$344,000).</p>
         </div>

    </div>
<br>
<br>
    <div>
        <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>M</span>EMBERSHIP IN PROFESSIONAL SOCIETIES</h5><br>
        <span class="w3-line black"></span>
        
        
        <div class="">
            <p><span><strong>1. </strong></span>  Society for Neuroscience (SFN) (http://sfn.org).</p>
         </div>
         <div class="">
            <p><span><strong>2. </strong></span> American Society for Biochemistry and Molecular Biology (ASBMB) (http://asbmb.org/).</p>
         </div>
         <div class="">
            <p><span><strong>3. </strong></span> Society for In Vitro Biology (http://www.sivb.org/).</p>
         </div>
         <div class="">
            <p><span><strong>4. </strong></span> American Chemical Society (http://acs.org/).</p>
         </div>
         <div class="">
            <p><span><strong>5. </strong></span> American Public Health Association (APHA)  (http://www.apha.org/).</p>
         </div>
         <div class="">
            <p><span><strong>6. </strong></span> American Association for the Advancement of Science (http://www.aaas.org/).</p>
         </div>
         <div class="">
            <p><span><strong>7. </strong></span> Faculty Advisor for ASBMB Undergraduate Affiliate Network.</p>
         </div>
         <div class="">
            <p><span><strong>8. </strong></span>   ASBMB Education Fellow.</p>
         </div>

    </div>

<br>
<br>
<div>
    <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>P</span>ROFESSIONAL ACTIVITIES</h5><br>
    <span class="w3-line black"></span>
    
    
    <div class="">
        <p><span><strong>1. </strong></span>   Member of the ASBMB Biochemistry Program Accrediting Committee.</p>
     </div>
     <div class="">
        <p><span><strong>2. </strong></span> Reviewer for APHA Abstracts submitted for Annual Meeting.</p>
     </div>
     <div class="">
        <p><span><strong>3. </strong></span> Member of the Center for Scientific Review Group, National Institutes of Health.</p>
     </div>
     <div class="">
        <p><span><strong>4. </strong></span>  Research Proposal Reviewer of South African National Research Foundation.</p>
     </div>
     <div class="">
        <p><span><strong>5. </strong></span> A Proposal Reviewer of National Institutes of Health, USA.</p>
     </div>
     <div class="">
        <p><span><strong>6. </strong></span> Manuscript Reviewer of the Journal of Natural Products.</p>
     </div>
     

</div>

<br>
<br>
<div>
    <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>P</span>UBLICATIONS</h5><br>
    <span class="w3-line black"></span>
    
    
    <div class="">
        <p><span><strong>1. </strong></span>   30 Publications and Manuscripts.</p>
     </div>
     <div class="">
        <p><span><strong>2. </strong></span>  More than 100 Published Abstracts.</p>
     </div>
   
</div>
     </div>
        
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}