
a {
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px solid #cc3333;
}
.nav-area {
	background: #262626;
}
.nav-area:after {
	content: '';
	clear: both;
	display: block;
}
.nav-area ul {
	list-style: none;
	margin: 0;
}
.nav-area>ul>li {
	float: right;
	position: relative;
}
.nav-area ul li a {
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	display: block;
	
}
.nav-area ul li:hover a {
	background: #34495e;
}
.nav-area ul ul {
	position: absolute;
	padding: 0;
	min-width: 160px;
	display: none;
	top: 100%;
	left: 0;
    z-index: 1000;
}
.nav-area ul li:hover>ul {
	display: block;
}
.nav-area ul ul li:hover a {
	background: #262626;
}
.nav-area ul ul li {
	position: relative;
}
.nav-area ul ul ul {
	top: 0;
	left: 100%;
}
.nav-area ul ul ul li:hover a {
	background: #34495e;
}





article {
	max-width: 600px;
	margin: 1em auto;
	overflow: hidden;
	position: relative;
	min-height: 4em;
  }
  
  .example-left {
	white-space: nowrap;
	position: absolute;
	text-transform: uppercase;
  }
  
  .example-left {
	-webkit-animation: mymove 8s linear infinite; /* Safari 4.0 - 8.0 */
	white-space: nowrap;
	animation: mymove 8s linear infinite alternate;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
	from {
	  left: 0;
	}
	to {
	  left: -140px;
	}
  }
  
  @keyframes mymove {
	from {
	  left: 0;
	}
	to {
	  left: -140px;
	}
  }
  
  
  .example-right {
	white-space: nowrap;
	position: absolute;
	top:2em;
	opacity: .4;
	text-transform: uppercase;
  }
  
  .example-right {
	-webkit-animation: urmove 8s linear infinite; /* Safari 4.0 - 8.0 */
	white-space: nowrap;
	animation: urmove 8s linear infinite alternate;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes urmove {
	from {
	  right: 0;
	}
	to {
	  right: -140px;
	}
  }
  
  @keyframes urmove {
	from {
	  right: 0;
	}
	to {
	  right: -140px;
	}
  }
  
  
  @keyframes early 
  { from { opacity:1; } to { opacity:0; } }
  
  .early {
	  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  
	  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  
	  animation-duration:1s;
	  animation-delay: 1.5s